SensactFinal.json
[{"id":"bbe62a6d.da86d8","type":"tab","label":"Main Menu","disabled":false,"info":""},{"id":"f840142a.cea9b8","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"ab7075d2.016478","type":"tab","label":"Basic","disabled":false,"info":""},{"id":"50adca07.ea56c4","type":"tab","label":"Intermediate","disabled":false,"info":""},{"id":"dc93584e.c0a168","type":"tab","label":"Advanced","disabled":false,"info":""},{"id":"130d7f3f.544931","type":"tab","label":"Options","disabled":false,"info":""},{"id":"d0b434bf.bbc538","type":"tab","label":"No Vision","disabled":false,"info":""},{"id":"4fe87a06.f6c814","type":"tab","label":"No Sound","disabled":false,"info":""},{"id":"40e9ebc0.2aeb84","type":"tab","label":"Limited Mobility","disabled":false,"info":""},{"id":"9c7f30a8.2661","type":"tab","label":"No Touch Functions","disabled":false,"info":""},{"id":"735ea682.c8e128","type":"ui_group","z":"","name":"Default","tab":"27fb8e35.bfa1e2","order":1,"disp":true,"width":"6","collapse":false},{"id":"27fb8e35.bfa1e2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"23f7cafe.5c3476","type":"ui_group","name":"4615f5ab.73261c","tab":"2eee56d.7f2d6aa","order":null,"disp":true,"width":6},{"id":"3ac9d4fb.51b57c","type":"ui_group","name":"f2effefb.e41a","tab":"2eee56d.7f2d6aa","order":14,"disp":true,"width":6},{"id":"c7b642b.7e720c","type":"ui_group","name":"7ddce220.1aba1c","tab":"2eee56d.7f2d6aa","order":15,"disp":true,"width":6},{"id":"720f2c8a.08fed4","type":"ui_group","name":"64c35d71.d252f4","tab":"2eee56d.7f2d6aa","order":17,"disp":true,"width":6},{"id":"2ffc2fa.146b2d","type":"ui_group","name":"83ff5bae.6b3508","tab":"2eee56d.7f2d6aa","order":5,"disp":true,"width":6},{"id":"739bde07.62743","type":"ui_group","name":"Group","tab":"2eee56d.7f2d6aa","order":7,"disp":true,"width":6},{"id":"263f36af.8fe6ba","type":"ui_group","name":"847a45a4.c134e8","tab":"2eee56d.7f2d6aa","order":2,"disp":true,"width":6},{"id":"fa662b4.f59b1d8","type":"ui_group","name":"86a577b5.0e69e8","tab":"2eee56d.7f2d6aa","order":8,"disp":true,"width":6},{"id":"cb728bc6.0c2398","type":"ui_group","name":"b6388a89.91f3d8","tab":"2eee56d.7f2d6aa","order":5,"disp":true,"width":6},{"id":"2e837bd5.815e74","type":"ui_group","name":"4e6748d1.6faf68","tab":"2eee56d.7f2d6aa","order":4,"disp":true,"width":6},{"id":"9c682ef3.96eff","type":"ui_group","name":"12eead6b.000753","tab":"2eee56d.7f2d6aa","order":4,"disp":true,"width":6},{"id":"bc62653b.5cd3d8","type":"ui_tab","z":"","name":"Beginner ","icon":"dashboard","disabled":false,"hidden":false},{"id":"fb737382.469da","type":"ui_tab","z":"","name":"Patient System","icon":"dashboard","order":1,"disabled":true,"hidden":true},{"id":"33a3ad0a.4e1212","type":"ui_group","z":"","name":"Choose a Patient System","tab":"fb737382.469da","order":2,"disp":true,"width":"10","collapse":false},{"id":"b42026fa.2d17f8","type":"ui_group","z":"","name":"Choose Desired Setting","tab":"fc88d11.86c183","order":1,"disp":true,"width":12,"collapse":false},{"id":"fc88d11.86c183","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"370bb91a.8f9246","type":"ui_group","z":"","name":"Choose Device","tab":"e3f4c62b.0ea008","order":1,"disp":true,"width":12,"collapse":false},{"id":"3e940c0d.6fb4c4","type":"ui_tab","z":"","name":"Advanced","icon":"dashboard","order":5,"disabled":true,"hidden":true},{"id":"36306e80.298ee2","type":"ui_group","z":"","name":"Choose Device","tab":"3e940c0d.6fb4c4","order":1,"disp":true,"width":12,"collapse":false},{"id":"91589b34.68a198","type":"ui_tab","z":"","name":"Basic","icon":"dashboard","order":3,"disabled":true,"hidden":true},{"id":"b499e028.2df41","type":"ui_group","z":"","name":"Choose Functionality","tab":"91589b34.68a198","order":2,"disp":true,"width":"6","collapse":false},{"id":"83c985c.f3a6678","type":"ui_group","z":"","name":"Choose Functionality","tab":"e3f4c62b.0ea008","order":2,"disp":true,"width":"12","collapse":false},{"id":"36a0980.9af4968","type":"ui_group","z":"","name":"Choose Functionality","tab":"3e940c0d.6fb4c4","order":2,"disp":true,"width":12,"collapse":false},{"id":"4d4e688c.e4a998","type":"ui_tab","z":"","name":"Options","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"4c0fa405.0bb63c","type":"ui_group","z":"","name":"Options","tab":"4d4e688c.e4a998","order":1,"disp":true,"width":"6","collapse":false},{"id":"561a68af.612eb8","type":"ui_group","z":"","name":"Images","tab":"fb737382.469da","order":3,"disp":true,"width":"2","collapse":false},{"id":"cb3a67a2.9411b8","type":"ui_group","z":"","name":"Images","tab":"3e940c0d.6fb4c4","order":3,"disp":true,"width":6,"collapse":false},{"id":"b1b96459.809278","type":"ui_group","z":"","name":"Images","tab":"91589b34.68a198","order":3,"disp":true,"width":"2","collapse":false},{"id":"57aa745a.faeb1c","type":"ui_spacer","name":"spacer","group":"b1b96459.809278","order":1,"width":2,"height":1},{"id":"56af4562.219dac","type":"ui_group","z":"","name":"Images","tab":"e3f4c62b.0ea008","order":3,"disp":true,"width":6,"collapse":false},{"id":"5b631eb5.70fb1","type":"ui_group","z":"","name":"Images","tab":"e3f4c62b.0ea008","order":4,"disp":true,"width":6,"collapse":false},{"id":"6f227ec6.6d254","type":"ui_group","z":"","name":"Images","tab":"3e940c0d.6fb4c4","order":4,"disp":true,"width":6,"collapse":false},{"id":"cdbfebf4.2f6388","type":"ui_group","z":"","name":"Information","tab":"fc88d11.86c183","order":2,"disp":true,"width":12,"collapse":false},{"id":"61605988.99db38","type":"ui_spacer","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"7a1023ae.257f2c","type":"ui_spacer","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"4d994aae.84e0f4","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"4359d4ea.5df29c","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"c888358c.c8d138","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"37d5c778.d0f1b8","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"6998af2e.20ac4","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"ee218960.eb7a88","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"b072d26f.e6fcb","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"c6e61531.a3dc58","type":"ui_spacer","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"ef666133.f5d3c","type":"ui_spacer","name":"spacer","group":"","order":11,"width":2,"height":1},{"id":"7c606eac.43bc3","type":"ui_spacer","name":"spacer","group":"","order":12,"width":2,"height":1},{"id":"5a4e1993.367108","type":"ui_spacer","name":"spacer","group":"","order":14,"width":2,"height":1},{"id":"5f4cb8f3.666cd8","type":"ui_spacer","name":"spacer","group":"","order":15,"width":2,"height":1},{"id":"98f4aef.886185","type":"ui_spacer","name":"spacer","group":"","order":16,"width":2,"height":1},{"id":"a380d495.54a468","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"83456e53.12049","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"db4ad1f7.43ac1","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"256932fb.a7d99e","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"7d47e507.4baa3c","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"4989a224.0529fc","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"c5bbdde3.25458","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"2ea22145.f18f2e","type":"ui_spacer","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"74961d3f.aa9214","type":"ui_spacer","name":"spacer","group":"","order":11,"width":2,"height":1},{"id":"ccaf012d.6971a","type":"ui_spacer","name":"spacer","group":"","order":12,"width":2,"height":1},{"id":"27afab40.062654","type":"ui_spacer","name":"spacer","group":"","order":14,"width":2,"height":1},{"id":"4f927749.d5bf28","type":"ui_spacer","name":"spacer","group":"","order":15,"width":2,"height":1},{"id":"aa3dbb84.566a38","type":"ui_spacer","name":"spacer","group":"","order":16,"width":2,"height":1},{"id":"ddb47e70.59cc","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"b852239f.ff691","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"7d01ba32.52a844","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"bf2c82f5.3fc75","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"ee32da58.50d468","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"d2279706.a1a698","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"ace01d22.3dbc6","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"5bd8c44a.e3097c","type":"ui_spacer","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"5f24bd50.d91aa4","type":"ui_spacer","name":"spacer","group":"","order":11,"width":2,"height":1},{"id":"5c489eb2.0d82e","type":"ui_spacer","name":"spacer","group":"","order":12,"width":2,"height":1},{"id":"fbe5dbf1.180d88","type":"ui_spacer","name":"spacer","group":"","order":14,"width":2,"height":1},{"id":"74561ba8.81c3f4","type":"ui_spacer","name":"spacer","group":"","order":15,"width":2,"height":1},{"id":"e5fe54d4.b5a828","type":"ui_spacer","name":"spacer","group":"","order":16,"width":2,"height":1},{"id":"f57eb4c9.b7e7e8","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"673546f0.0427c8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"c76fc8aa.817798","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"ab2d6c17.44372","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"edfdd303.90859","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"7c308476.43ffdc","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"3538f54a.b69c8a","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"140a14ba.f077fb","type":"ui_spacer","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"cb3a03d4.46ab7","type":"ui_spacer","name":"spacer","group":"","order":11,"width":2,"height":1},{"id":"c695ba33.84f028","type":"ui_group","z":"","name":"Information","tab":"fb737382.469da","order":1,"disp":true,"width":"6","collapse":false},{"id":"2c0ef844.167f88","type":"ui_group","z":"","name":"Information","tab":"91589b34.68a198","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd25602f.7f88d","type":"ui_group","z":"","name":"Information","tab":"4d4e688c.e4a998","order":2,"disp":true,"width":"6","collapse":false},{"id":"4cbf3d3b.dcdcb4","type":"ui_group","z":"","name":"Information","tab":"3e940c0d.6fb4c4","order":5,"disp":true,"width":2,"collapse":false},{"id":"ba32ca17.976ce8","type":"ui_group","z":"","name":"Information","tab":"e3f4c62b.0ea008","order":5,"disp":true,"width":2,"collapse":false},{"id":"e3f4c62b.0ea008","type":"ui_tab","z":"","name":"Intermediate","icon":"dashboard","order":4,"disabled":true,"hidden":true},{"id":"5873c404.1355fc","type":"ui_spacer","name":"spacer","group":"56af4562.219dac","order":1,"width":6,"height":1},{"id":"c51c76fd.713588","type":"ui_spacer","name":"spacer","group":"56af4562.219dac","order":2,"width":2,"height":1},{"id":"2045617b.34f49e","type":"ui_spacer","name":"spacer","group":"56af4562.219dac","order":4,"width":2,"height":1},{"id":"1adeb5ff.f4c2fa","type":"ui_spacer","name":"spacer","group":"56af4562.219dac","order":5,"width":2,"height":1},{"id":"ac6aa12e.36672","type":"ui_spacer","name":"spacer","group":"56af4562.219dac","order":6,"width":2,"height":1},{"id":"10114b4e.39f885","type":"ui_spacer","name":"spacer","group":"56af4562.219dac","order":7,"width":2,"height":1},{"id":"c782760.faae488","type":"ui_spacer","name":"spacer","group":"56af4562.219dac","order":9,"width":2,"height":1},{"id":"d0a8b799.b30248","type":"ui_spacer","name":"spacer","group":"56af4562.219dac","order":10,"width":2,"height":1},{"id":"10964799.7cdc28","type":"ui_spacer","name":"spacer","group":"56af4562.219dac","order":11,"width":2,"height":1},{"id":"a7f1f2cf.f6d3b","type":"ui_spacer","name":"spacer","group":"56af4562.219dac","order":12,"width":2,"height":1},{"id":"aa57783a.b6d668","type":"ui_spacer","name":"spacer","group":"56af4562.219dac","order":14,"width":2,"height":1},{"id":"1cd29423.cb5dbc","type":"ui_spacer","name":"spacer","group":"56af4562.219dac","order":15,"width":2,"height":1},{"id":"9a043c59.6911c","type":"ui_spacer","name":"spacer","group":"56af4562.219dac","order":16,"width":2,"height":1},{"id":"8eeff210.e3425","type":"ui_spacer","name":"spacer","group":"5b631eb5.70fb1","order":1,"width":6,"height":1},{"id":"ce662fb5.4d712","type":"ui_spacer","name":"spacer","group":"5b631eb5.70fb1","order":2,"width":2,"height":1},{"id":"5520be2b.fd673","type":"ui_spacer","name":"spacer","group":"5b631eb5.70fb1","order":4,"width":2,"height":1},{"id":"499ea9a6.674c68","type":"ui_spacer","name":"spacer","group":"5b631eb5.70fb1","order":5,"width":2,"height":1},{"id":"2c448a62.c8e2b6","type":"ui_spacer","name":"spacer","group":"5b631eb5.70fb1","order":6,"width":2,"height":1},{"id":"eb56ed7.d04a71","type":"ui_spacer","name":"spacer","group":"5b631eb5.70fb1","order":7,"width":2,"height":1},{"id":"8d51c75f.b31358","type":"ui_spacer","name":"spacer","group":"5b631eb5.70fb1","order":9,"width":2,"height":1},{"id":"7e480bfb.db7f34","type":"ui_spacer","name":"spacer","group":"5b631eb5.70fb1","order":10,"width":2,"height":1},{"id":"a54e68ad.0a6cc8","type":"ui_spacer","name":"spacer","group":"5b631eb5.70fb1","order":11,"width":2,"height":1},{"id":"4a9893c2.96324c","type":"ui_spacer","name":"spacer","group":"5b631eb5.70fb1","order":12,"width":2,"height":1},{"id":"3f43b20a.dc4fee","type":"ui_spacer","name":"spacer","group":"5b631eb5.70fb1","order":14,"width":2,"height":1},{"id":"a51f8ba1.e40188","type":"ui_spacer","name":"spacer","group":"5b631eb5.70fb1","order":15,"width":2,"height":1},{"id":"4787b7bc.6ffe68","type":"ui_spacer","name":"spacer","group":"5b631eb5.70fb1","order":16,"width":2,"height":1},{"id":"a5939d2.788fe6","type":"ui_spacer","name":"spacer","group":"561a68af.612eb8","order":1,"width":2,"height":1},{"id":"ad4099c1.8f21e8","type":"ui_spacer","name":"spacer","group":"cb3a67a2.9411b8","order":1,"width":6,"height":1},{"id":"ea37489a.733f08","type":"ui_spacer","name":"spacer","group":"cb3a67a2.9411b8","order":2,"width":2,"height":1},{"id":"d4ad2727.e0fec8","type":"ui_spacer","name":"spacer","group":"cb3a67a2.9411b8","order":4,"width":2,"height":1},{"id":"f9170b8f.21df88","type":"ui_spacer","name":"spacer","group":"cb3a67a2.9411b8","order":5,"width":2,"height":1},{"id":"95e7a771.2552c8","type":"ui_spacer","name":"spacer","group":"cb3a67a2.9411b8","order":6,"width":2,"height":1},{"id":"20c9e099.522a9","type":"ui_spacer","name":"spacer","group":"cb3a67a2.9411b8","order":7,"width":2,"height":1},{"id":"79279b98.99e634","type":"ui_spacer","name":"spacer","group":"cb3a67a2.9411b8","order":9,"width":2,"height":1},{"id":"5e132210.9cd89c","type":"ui_spacer","name":"spacer","group":"cb3a67a2.9411b8","order":10,"width":2,"height":1},{"id":"c95cfbdd.074688","type":"ui_spacer","name":"spacer","group":"cb3a67a2.9411b8","order":11,"width":2,"height":1},{"id":"cf5af8b0.5b7ae8","type":"ui_spacer","name":"spacer","group":"cb3a67a2.9411b8","order":12,"width":2,"height":1},{"id":"beb53371.a7b12","type":"ui_spacer","name":"spacer","group":"cb3a67a2.9411b8","order":14,"width":2,"height":1},{"id":"491caeb.f7e215","type":"ui_spacer","name":"spacer","group":"cb3a67a2.9411b8","order":15,"width":2,"height":1},{"id":"222e7530.f374fa","type":"ui_spacer","name":"spacer","group":"cb3a67a2.9411b8","order":16,"width":2,"height":1},{"id":"a06b690e.091f98","type":"ui_spacer","name":"spacer","group":"6f227ec6.6d254","order":1,"width":6,"height":1},{"id":"7464e9ec.cf04c8","type":"ui_spacer","name":"spacer","group":"6f227ec6.6d254","order":2,"width":2,"height":1},{"id":"fa37785c.76edc8","type":"ui_spacer","name":"spacer","group":"6f227ec6.6d254","order":4,"width":2,"height":1},{"id":"8cb8f606.498848","type":"ui_spacer","name":"spacer","group":"6f227ec6.6d254","order":5,"width":2,"height":1},{"id":"20f956ad.cccdca","type":"ui_spacer","name":"spacer","group":"6f227ec6.6d254","order":6,"width":2,"height":1},{"id":"203c7f19.dad6b","type":"ui_spacer","name":"spacer","group":"6f227ec6.6d254","order":7,"width":2,"height":1},{"id":"cbf57b96.94af18","type":"ui_spacer","name":"spacer","group":"6f227ec6.6d254","order":9,"width":2,"height":1},{"id":"dfcd3cd.5d484c","type":"ui_spacer","name":"spacer","group":"6f227ec6.6d254","order":10,"width":2,"height":1},{"id":"8804f69c.927688","type":"ui_spacer","name":"spacer","group":"6f227ec6.6d254","order":11,"width":2,"height":1},{"id":"b8f8e1fc.17e5c","type":"serial-port","z":"","serialport":"","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"760f4dc0.2491c4","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"4be7648.8f7279c","type":"ui_group","z":"","name":"MainUI","tab":"","order":1,"disp":true,"width":"21","collapse":false},{"id":"96d63659.881be8","type":"ui_group","z":"","name":"SensAct Settings","tab":"59a30a76.27dc44","order":1,"disp":true,"width":"15","collapse":false},{"id":"212f2d67.6d19a2","type":"ui_tab","z":"","name":"Setting up devices","icon":"dashboard","order":3,"disabled":true,"hidden":true},{"id":"d6e30ac2.5db108","type":"ui_group","z":"","name":"MainUI","tab":"","order":1,"disp":true,"width":"21","collapse":false},{"id":"b5808e84.e4255","type":"ui_group","z":"","name":"SensAct Settings","tab":"59a30a76.27dc44","order":2,"disp":true,"width":"15","collapse":false},{"id":"59a30a76.27dc44","type":"ui_tab","z":"","name":"Sensact Menu","icon":"dashboard","order":2,"disabled":true,"hidden":true},{"id":"d4a8038.c8ba","type":"ui_group","z":"","name":"First page","tab":"","disp":true,"width":"6","collapse":false},{"id":"4b5c9412.de0fec","type":"ui_group","z":"","name":"Setting up devices","tab":"212f2d67.6d19a2","order":1,"disp":true,"width":"14","collapse":false},{"id":"1ea21eb2.49b0f1","type":"ui_tab","z":"","name":"Device selection","icon":"dashboard","order":4,"disabled":true,"hidden":true},{"id":"d4aaab.53413558","type":"ui_group","z":"","name":"Device selection","tab":"1ea21eb2.49b0f1","order":1,"disp":true,"width":12,"collapse":false},{"id":"903d051d.073f68","type":"ui_group","name":"Group 6","tab":"","order":6,"disp":true,"width":6},{"id":"93530a07.e288b8","type":"ui_tab","z":"","name":"Port selection","icon":"dashboard","order":5,"disabled":true,"hidden":true},{"id":"5d1a515.f4f41b","type":"ui_group","z":"","name":"Port selection","tab":"93530a07.e288b8","order":1,"disp":true,"width":16,"collapse":false},{"id":"7e1f9035.7ad83","type":"ui_tab","z":"","name":"Input  device","icon":"dashboard","order":6,"disabled":true,"hidden":true},{"id":"86e8d5fa.c6d168","type":"ui_group","z":"","name":"Input  device","tab":"7e1f9035.7ad83","order":1,"disp":true,"width":"16","collapse":false},{"id":"9d2720cc.030b9","type":"ui_tab","z":"","name":"Input device selection","icon":"dashboard","order":7,"disabled":true,"hidden":true},{"id":"7a2124c4.63973c","type":"ui_group","z":"","name":"Input device selection","tab":"9d2720cc.030b9","order":1,"disp":true,"width":"16","collapse":false},{"id":"6ec6b314.12c24c","type":"ui_tab","z":"","name":"Configuration type","icon":"dashboard","order":8,"disabled":true,"hidden":true},{"id":"a7c33d66.a17e7","type":"ui_tab","z":"","name":"Tab 12","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"85b81e99.f6306","type":"ui_group","z":"","name":"Configuration type","tab":"6ec6b314.12c24c","order":1,"disp":true,"width":16,"collapse":false},{"id":"8e5bdd58.b3839","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"40206298.47289c","type":"ui_group","name":"Group 4","tab":"","order":4,"disp":true,"width":6},{"id":"4deb6707.d39458","type":"ui_tab","z":"","name":"SensAct","icon":"dashboard","order":1,"disabled":true,"hidden":true},{"id":"b5d9ad70.6f827","type":"ui_group","z":"","name":"SensAct Software Manager","tab":"4deb6707.d39458","order":1,"disp":true,"width":16,"collapse":false},{"id":"923482d4.7a34a","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":1,"width":16,"height":1},{"id":"b65bab23.b6d2f8","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":2,"width":1,"height":1},{"id":"2c9e9612.b6bd5a","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":4,"width":4,"height":1},{"id":"e0830ef4.ac7a4","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":6,"width":1,"height":1},{"id":"9506b8b2.a18608","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":7,"width":1,"height":1},{"id":"ee840b36.148b18","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":8,"width":4,"height":1},{"id":"d6a0915a.6d9db","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":9,"width":1,"height":1},{"id":"24045e39.1dac82","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":10,"width":16,"height":1},{"id":"8dc2f4ff.3ec288","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":11,"width":1,"height":1},{"id":"6f057b8e.180594","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":13,"width":4,"height":1},{"id":"975494eb.8f8128","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":15,"width":1,"height":1},{"id":"c13ff473.1b8e38","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":16,"width":1,"height":1},{"id":"a1d2dfef.d156","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":17,"width":4,"height":1},{"id":"a0660381.75ca8","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":18,"width":1,"height":1},{"id":"ed67f7d9.b8ee88","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":19,"width":16,"height":1},{"id":"a2fca7e0.57edc8","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":20,"width":1,"height":1},{"id":"946305b8.5c8198","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":22,"width":4,"height":1},{"id":"1671e70.efe7b19","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":24,"width":1,"height":1},{"id":"c10f133.1d2fdf","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":25,"width":1,"height":1},{"id":"cb6a498c.6fd688","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":26,"width":4,"height":1},{"id":"f36f9e68.371b1","type":"ui_spacer","name":"spacer","group":"b5d9ad70.6f827","order":27,"width":1,"height":1},{"id":"ee26abac.589a38","type":"ui_spacer","name":"spacer","group":"4b5c9412.de0fec","order":3,"width":14,"height":1},{"id":"f2cb9ddf.12816","type":"ui_spacer","name":"spacer","group":"4b5c9412.de0fec","order":4,"width":2,"height":1},{"id":"890f032c.3b672","type":"ui_spacer","name":"spacer","group":"4b5c9412.de0fec","order":6,"width":4,"height":1},{"id":"821753f4.25ca3","type":"ui_spacer","name":"spacer","group":"4b5c9412.de0fec","order":8,"width":2,"height":1},{"id":"fd35a9ec.5ec388","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":1,"width":12,"height":1},{"id":"2c8a10a8.25201","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":2,"width":1,"height":1},{"id":"2b235df6.0df572","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":4,"width":2,"height":1},{"id":"a0209f4f.7382e","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":6,"width":1,"height":1},{"id":"5ed64dac.4cbf24","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":7,"width":1,"height":1},{"id":"56a29d51.51bf14","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":8,"width":2,"height":1},{"id":"1f65082f.0454e8","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":9,"width":1,"height":1},{"id":"46229a20.843464","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":10,"width":1,"height":1},{"id":"71747a50.f61524","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":12,"width":2,"height":1},{"id":"d4fd65c7.823f08","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":14,"width":1,"height":1},{"id":"e982a298.2e5d5","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":15,"width":1,"height":1},{"id":"40be4afc.4267f4","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":16,"width":2,"height":1},{"id":"a32d3214.7ff0c","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":17,"width":1,"height":1},{"id":"741c312f.aa541","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":18,"width":1,"height":1},{"id":"275bb7e1.ae62f8","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":20,"width":2,"height":1},{"id":"9928a795.44e938","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":22,"width":1,"height":1},{"id":"d9ac56cf.e486e8","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":23,"width":1,"height":1},{"id":"fd1c817b.33842","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":24,"width":2,"height":1},{"id":"57b8a8e6.b921b8","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":25,"width":1,"height":1},{"id":"a74ea21c.2e6ee","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":26,"width":12,"height":1},{"id":"9960fed3.93b7f","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":27,"width":5,"height":1},{"id":"416370ff.59029","type":"ui_spacer","name":"spacer","group":"d4aaab.53413558","order":29,"width":5,"height":1},{"id":"f7be7c5f.837e4","type":"ui_spacer","name":"spacer","group":"7a2124c4.63973c","order":1,"width":16,"height":1},{"id":"6ce089b5.0edbf8","type":"ui_spacer","name":"spacer","group":"7a2124c4.63973c","order":2,"width":6,"height":1},{"id":"d1e77e95.a1a61","type":"ui_spacer","name":"spacer","group":"7a2124c4.63973c","order":4,"width":6,"height":1},{"id":"dc27b62.7de3648","type":"ui_spacer","name":"spacer","group":"7a2124c4.63973c","order":5,"width":16,"height":1},{"id":"219709fc.432d26","type":"ui_spacer","name":"spacer","group":"7a2124c4.63973c","order":6,"width":6,"height":1},{"id":"e628ceea.ba209","type":"ui_spacer","name":"spacer","group":"7a2124c4.63973c","order":8,"width":6,"height":1},{"id":"e8713356.c563f","type":"ui_spacer","name":"spacer","group":"7a2124c4.63973c","order":9,"width":16,"height":1},{"id":"2360f85b.4ea4e8","type":"ui_spacer","name":"spacer","group":"7a2124c4.63973c","order":10,"width":16,"height":1},{"id":"a3d5bad1.e452f8","type":"ui_spacer","name":"spacer","group":"7a2124c4.63973c","order":11,"width":7,"height":1},{"id":"364e5d6e.c070c2","type":"ui_spacer","name":"spacer","group":"7a2124c4.63973c","order":13,"width":7,"height":1},{"id":"9ebef216.abffe","type":"ui_spacer","name":"spacer","group":"85b81e99.f6306","order":1,"width":16,"height":1},{"id":"e9626c83.3bccd","type":"ui_spacer","name":"spacer","group":"85b81e99.f6306","order":2,"width":3,"height":1},{"id":"55747045.fc359","type":"ui_spacer","name":"spacer","group":"85b81e99.f6306","order":4,"width":2,"height":1},{"id":"84e63872.5c0f18","type":"ui_spacer","name":"spacer","group":"85b81e99.f6306","order":6,"width":3,"height":1},{"id":"7d39bf59.da054","type":"ui_spacer","name":"spacer","group":"85b81e99.f6306","order":7,"width":3,"height":1},{"id":"76d25f1e.a4772","type":"ui_spacer","name":"spacer","group":"85b81e99.f6306","order":8,"width":2,"height":1},{"id":"6d21fece.2714c","type":"ui_spacer","name":"spacer","group":"85b81e99.f6306","order":9,"width":3,"height":1},{"id":"1fc1e009.44d69","type":"ui_spacer","name":"spacer","group":"85b81e99.f6306","order":10,"width":16,"height":1},{"id":"44fbe06c.f293d","type":"ui_spacer","name":"spacer","group":"85b81e99.f6306","order":11,"width":16,"height":1},{"id":"550f201d.150cc","type":"ui_spacer","name":"spacer","group":"85b81e99.f6306","order":12,"width":7,"height":1},{"id":"a5d7c168.a03c2","type":"ui_spacer","name":"spacer","group":"85b81e99.f6306","order":14,"width":7,"height":1},{"id":"5dece95b.0af3e8","type":"ui_spacer","name":"spacer","group":"86e8d5fa.c6d168","order":1,"width":16,"height":1},{"id":"a0387eb0.661c9","type":"ui_spacer","name":"spacer","group":"86e8d5fa.c6d168","order":2,"width":6,"height":1},{"id":"f19b7618.ada2e8","type":"ui_spacer","name":"spacer","group":"86e8d5fa.c6d168","order":4,"width":6,"height":1},{"id":"6356ea66.883d54","type":"ui_spacer","name":"spacer","group":"86e8d5fa.c6d168","order":5,"width":16,"height":1},{"id":"54431d8d.c94df4","type":"ui_spacer","name":"spacer","group":"86e8d5fa.c6d168","order":6,"width":6,"height":1},{"id":"613a50ac.fe3f6","type":"ui_spacer","name":"spacer","group":"86e8d5fa.c6d168","order":8,"width":6,"height":1},{"id":"631448ad.772a08","type":"ui_spacer","name":"spacer","group":"86e8d5fa.c6d168","order":9,"width":6,"height":1},{"id":"1fc6b03c.b18bb","type":"ui_spacer","name":"spacer","group":"86e8d5fa.c6d168","order":11,"width":6,"height":1},{"id":"3e649886.2e5858","type":"ui_spacer","name":"spacer","group":"86e8d5fa.c6d168","order":12,"width":16,"height":1},{"id":"3ac3c437.8934dc","type":"ui_spacer","name":"spacer","group":"86e8d5fa.c6d168","order":13,"width":7,"height":1},{"id":"f38c7fee.62b58","type":"ui_spacer","name":"spacer","group":"86e8d5fa.c6d168","order":15,"width":7,"height":1},{"id":"4e485d0e.c0bc34","type":"serial-port","z":"","serialport":"COM3","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":"10000"},{"id":"fdcd5080.148bd","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":1,"width":16,"height":1},{"id":"94d8cc4f.2657a","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":2,"width":16,"height":1},{"id":"e27add16.fc7","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":3,"width":7,"height":1},{"id":"278310a3.1af21","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":5,"width":3,"height":1},{"id":"a86bd2db.7c8f6","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":6,"width":3,"height":1},{"id":"1281113b.c0a81f","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":8,"width":3,"height":1},{"id":"61e171b6.b5fcd","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":9,"width":3,"height":1},{"id":"b5bf458e.087a08","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":11,"width":3,"height":1},{"id":"6ac4cb7d.ca65b4","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":12,"width":3,"height":1},{"id":"cce5a427.6fa538","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":14,"width":3,"height":1},{"id":"f74e06a2.e727a8","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":15,"width":3,"height":1},{"id":"8f6b5b69.f25ca8","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":17,"width":3,"height":1},{"id":"1a9aaac6.64fbc5","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":18,"width":7,"height":1},{"id":"5dddd590.faffac","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":19,"width":3,"height":1},{"id":"afbffbd2.418e68","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":20,"width":16,"height":1},{"id":"761af709.7b25a8","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":21,"width":7,"height":1},{"id":"d52ffc19.40081","type":"ui_spacer","name":"spacer","group":"5d1a515.f4f41b","order":23,"width":7,"height":1},{"id":"6c90c39b.c145bc","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":1,"width":16,"height":1},{"id":"d54bd8b0.9450c8","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":2,"width":1,"height":1},{"id":"35cea518.f5f72a","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":4,"width":4,"height":1},{"id":"e8e88c10.f21b5","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":6,"width":1,"height":1},{"id":"7f809d45.ce3524","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":7,"width":1,"height":1},{"id":"7e88edd4.42e564","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":8,"width":4,"height":1},{"id":"9cfcc33c.4c69a","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":9,"width":1,"height":1},{"id":"81fc7ec7.8e45e","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":10,"width":16,"height":1},{"id":"337ff63a.604fca","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":11,"width":1,"height":1},{"id":"33fcfbde.cb6c04","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":13,"width":4,"height":1},{"id":"f96c2bf3.e4e088","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":15,"width":1,"height":1},{"id":"b0c1f4f4.f1c158","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":16,"width":1,"height":1},{"id":"b5325df9.8a19a","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":17,"width":4,"height":1},{"id":"c272b18f.3fc1f","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":18,"width":1,"height":1},{"id":"6cd54437.be525c","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":19,"width":16,"height":1},{"id":"4fe73fc3.31532","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":20,"width":1,"height":1},{"id":"7da21cbd.a34b64","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":22,"width":4,"height":1},{"id":"6a3602b1.7c3bdc","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":24,"width":1,"height":1},{"id":"627eecec.737374","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":25,"width":1,"height":1},{"id":"ec2b6fc8.dadfe","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":26,"width":4,"height":1},{"id":"7826d9ed.6e14d8","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"12eead6b.000753","order":27,"width":1,"height":1},{"id":"b6faf046.371e","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"64c35d71.d252f4","order":3,"width":14,"height":1},{"id":"3e657be2.340494","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"64c35d71.d252f4","order":4,"width":2,"height":1},{"id":"e1cfe0d2.be8e8","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"64c35d71.d252f4","order":6,"width":4,"height":1},{"id":"7849e550.4dd93c","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"64c35d71.d252f4","order":8,"width":2,"height":1},{"id":"34e95b5b.a93ad4","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":1,"width":12,"height":1},{"id":"153d62b4.26b88d","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":2,"width":1,"height":1},{"id":"2e946c1f.51f5c4","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":4,"width":2,"height":1},{"id":"e044fdb7.fb988","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":6,"width":1,"height":1},{"id":"a1ae3cdf.5be6","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":7,"width":1,"height":1},{"id":"a0f86fc2.84247","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":8,"width":2,"height":1},{"id":"e3927dc5.a4ca3","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":9,"width":1,"height":1},{"id":"6367e8b.b263818","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":10,"width":1,"height":1},{"id":"fea83a36.19ef18","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":12,"width":2,"height":1},{"id":"ea02ca25.4fe308","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":14,"width":1,"height":1},{"id":"b2d1854d.442cd8","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":15,"width":1,"height":1},{"id":"efa6156e.fb4668","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":16,"width":2,"height":1},{"id":"a6d19df7.a575","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":17,"width":1,"height":1},{"id":"60db4853.f8ed68","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":18,"width":1,"height":1},{"id":"b67ef6e1.3201b8","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":20,"width":2,"height":1},{"id":"c6cddc21.0945f","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":22,"width":1,"height":1},{"id":"3c2b0a99.f40556","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":23,"width":1,"height":1},{"id":"e8d92a24.962a98","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":24,"width":2,"height":1},{"id":"2a6209fd.f623f6","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":25,"width":1,"height":1},{"id":"a7cc22cb.46f46","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":26,"width":12,"height":1},{"id":"c70a3895.81a078","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":27,"width":5,"height":1},{"id":"cd73db5b.9e6ec8","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"847a45a4.c134e8","order":29,"width":5,"height":1},{"id":"ebbe49c3.a39fb8","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"b6388a89.91f3d8","order":1,"width":16,"height":1},{"id":"ebe5e79a.64e6c8","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"b6388a89.91f3d8","order":2,"width":6,"height":1},{"id":"2ef3885e.215898","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"b6388a89.91f3d8","order":4,"width":6,"height":1},{"id":"32db2df0.676622","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"b6388a89.91f3d8","order":5,"width":16,"height":1},{"id":"f276227.106bae","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"b6388a89.91f3d8","order":6,"width":6,"height":1},{"id":"9b36d94d.f9da18","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"b6388a89.91f3d8","order":8,"width":6,"height":1},{"id":"ef063af6.409128","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"b6388a89.91f3d8","order":9,"width":16,"height":1},{"id":"f091bb09.523368","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"b6388a89.91f3d8","order":10,"width":16,"height":1},{"id":"2be11269.c157ae","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"b6388a89.91f3d8","order":11,"width":7,"height":1},{"id":"8a45eca2.e00af","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"b6388a89.91f3d8","order":13,"width":7,"height":1},{"id":"361d2930.3cf0f6","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"4e6748d1.6faf68","order":1,"width":16,"height":1},{"id":"d088fad9.d039e8","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"4e6748d1.6faf68","order":2,"width":3,"height":1},{"id":"3b093bbb.fe2d24","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"4e6748d1.6faf68","order":4,"width":2,"height":1},{"id":"b57a82be.40f1a","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"4e6748d1.6faf68","order":6,"width":3,"height":1},{"id":"707207fc.9381c8","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"4e6748d1.6faf68","order":7,"width":3,"height":1},{"id":"9ad69ec0.221c2","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"4e6748d1.6faf68","order":8,"width":2,"height":1},{"id":"b15372b8.3de99","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"4e6748d1.6faf68","order":9,"width":3,"height":1},{"id":"dfa009e8.6c4008","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"4e6748d1.6faf68","order":10,"width":16,"height":1},{"id":"82c9a7d8.f30de8","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"4e6748d1.6faf68","order":11,"width":16,"height":1},{"id":"18dec68c.55ad89","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"4e6748d1.6faf68","order":12,"width":7,"height":1},{"id":"f9facec7.e1ca6","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"4e6748d1.6faf68","order":14,"width":7,"height":1},{"id":"38f2bdb4.7497e2","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"86a577b5.0e69e8","order":1,"width":16,"height":1},{"id":"c86d1c13.01b2b","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"86a577b5.0e69e8","order":2,"width":6,"height":1},{"id":"121547c6.0326e8","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"86a577b5.0e69e8","order":4,"width":6,"height":1},{"id":"c32f7432.eb5638","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"86a577b5.0e69e8","order":5,"width":16,"height":1},{"id":"2da01953.6c6db6","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"86a577b5.0e69e8","order":6,"width":6,"height":1},{"id":"7aeb11d.ff834f","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"86a577b5.0e69e8","order":8,"width":6,"height":1},{"id":"4ce566ce.8ad198","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"86a577b5.0e69e8","order":9,"width":6,"height":1},{"id":"947a45be.cef568","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"86a577b5.0e69e8","order":11,"width":6,"height":1},{"id":"12db2.3cc4224ec","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"86a577b5.0e69e8","order":12,"width":16,"height":1},{"id":"b7f1de47.5e07","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"86a577b5.0e69e8","order":13,"width":7,"height":1},{"id":"5c9f05d7.82bcdc","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"86a577b5.0e69e8","order":15,"width":7,"height":1},{"id":"59d39366.20a70c","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":1,"width":16,"height":1},{"id":"11617629.4a62da","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":2,"width":16,"height":1},{"id":"1e96b4ad.2a54bb","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":3,"width":7,"height":1},{"id":"38565a70.0ae7c6","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":5,"width":3,"height":1},{"id":"af357714.3bdff8","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":6,"width":3,"height":1},{"id":"9b382419.1b4dc8","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":8,"width":3,"height":1},{"id":"a6898f25.63028","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":9,"width":3,"height":1},{"id":"c95c73ea.122fd","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":11,"width":3,"height":1},{"id":"42fb805b.199b1","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":12,"width":3,"height":1},{"id":"1fbb5729.1a0759","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":14,"width":3,"height":1},{"id":"70a60c5c.5d4504","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":15,"width":3,"height":1},{"id":"9c1fc1e6.693a4","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":17,"width":3,"height":1},{"id":"972eeaf7.977378","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":18,"width":7,"height":1},{"id":"67b3a4d9.9d613c","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":19,"width":3,"height":1},{"id":"80807f2.225b08","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":20,"width":16,"height":1},{"id":"6939120d.9bd4dc","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":21,"width":7,"height":1},{"id":"99a02ff1.8874e","type":"ui_spacer","z":"bbe62a6d.da86d8","name":"spacer","group":"83ff5bae.6b3508","order":23,"width":7,"height":1},{"id":"23df69a7.6878f6","type":"ui_tab","z":"","name":"Patient System","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d52108de.e70668","type":"ui_group","z":"","name":"Choose a Patient System","tab":"23df69a7.6878f6","order":2,"disp":true,"width":"10","collapse":false},{"id":"eb8f083a.f69508","type":"ui_group","z":"","name":"Choose Desired Setting","tab":"94e61d54.fb1f9","order":1,"disp":true,"width":10,"collapse":false},{"id":"94e61d54.fb1f9","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"44cec678.0b0a48","type":"ui_group","z":"","name":"Choose Device","tab":"55d8d2a.e83082c","order":1,"disp":true,"width":12,"collapse":false},{"id":"d860cc10.b89d9","type":"ui_tab","z":"","name":"Advanced","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"5d2d0f83.a969f","type":"ui_group","z":"","name":"Choose Device","tab":"d860cc10.b89d9","order":1,"disp":true,"width":12,"collapse":false},{"id":"f6271ce6.df146","type":"ui_tab","z":"","name":"Basic","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"846e845f.451678","type":"ui_group","z":"","name":"Choose Functionality","tab":"f6271ce6.df146","order":2,"disp":true,"width":"6","collapse":false},{"id":"f00ac104.96b6b","type":"ui_group","z":"","name":"Choose Functionality","tab":"55d8d2a.e83082c","order":2,"disp":true,"width":12,"collapse":false},{"id":"5d2e1053.37aff","type":"ui_group","z":"","name":"Choose Functionality","tab":"d860cc10.b89d9","order":2,"disp":true,"width":12,"collapse":false},{"id":"fd157ea0.66dd6","type":"ui_tab","z":"","name":"Options","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"1d47737b.db53dd","type":"ui_group","z":"","name":"Options","tab":"fd157ea0.66dd6","order":1,"disp":true,"width":"6","collapse":false},{"id":"dfd81a7f.34f6f8","type":"ui_group","z":"","name":"Images","tab":"23df69a7.6878f6","order":3,"disp":true,"width":"2","collapse":false},{"id":"f8f67e74.d9f59","type":"ui_group","z":"","name":"Images","tab":"d860cc10.b89d9","order":3,"disp":true,"width":6,"collapse":false},{"id":"8858c15f.65153","type":"ui_group","z":"","name":"Images","tab":"f6271ce6.df146","order":3,"disp":true,"width":"2","collapse":false},{"id":"5d06485b.f497b8","type":"ui_group","z":"","name":"Images","tab":"55d8d2a.e83082c","order":3,"disp":true,"width":6,"collapse":false},{"id":"c3b13c2e.1c0de","type":"ui_group","z":"","name":"Images","tab":"55d8d2a.e83082c","order":4,"disp":true,"width":6,"collapse":false},{"id":"275d4b74.ad8384","type":"ui_group","z":"","name":"Images","tab":"d860cc10.b89d9","order":4,"disp":true,"width":6,"collapse":false},{"id":"7d18bc7.734c344","type":"ui_group","z":"","name":"Information","tab":"94e61d54.fb1f9","order":2,"disp":true,"width":10,"collapse":false},{"id":"e749238f.a49dd","type":"ui_spacer","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"829c4ec4.8691a","type":"ui_spacer","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"baec13be.b7ac6","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"4a3802e5.464f0c","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"df64ee5f.81aa","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"5447b782.e1db88","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"8843aa07.392908","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"ca6b882d.158b88","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"3d9cfd00.2c62e4","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"7c889d17.829bc4","type":"ui_spacer","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"5d9b2039.c1276","type":"ui_spacer","name":"spacer","group":"","order":11,"width":2,"height":1},{"id":"6a05d696.c2f068","type":"ui_spacer","name":"spacer","group":"","order":12,"width":2,"height":1},{"id":"8a5a937b.fea17","type":"ui_spacer","name":"spacer","group":"","order":14,"width":2,"height":1},{"id":"a1a05a84.5d3e68","type":"ui_spacer","name":"spacer","group":"","order":15,"width":2,"height":1},{"id":"8a748d43.922e4","type":"ui_spacer","name":"spacer","group":"","order":16,"width":2,"height":1},{"id":"febc6faa.d29ed","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"f0e40508.68d768","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"db3571aa.ff02c","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"c1cad1d4.75968","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"ee7cd7e9.1878d8","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"af2213b0.eaabd","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"dda772d1.93bf9","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"68e76635.5b94d8","type":"ui_spacer","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"ded038d7.421cd8","type":"ui_spacer","name":"spacer","group":"","order":11,"width":2,"height":1},{"id":"72d2398a.57a648","type":"ui_spacer","name":"spacer","group":"","order":12,"width":2,"height":1},{"id":"9cdaca62.145f78","type":"ui_spacer","name":"spacer","group":"","order":14,"width":2,"height":1},{"id":"fe088e20.020d4","type":"ui_spacer","name":"spacer","group":"","order":15,"width":2,"height":1},{"id":"e83f6d9.948399","type":"ui_spacer","name":"spacer","group":"","order":16,"width":2,"height":1},{"id":"806458e2.5e4c58","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"2fcb6343.2948ec","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"67c90d91.64fac4","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"5f92b22f.c25f0c","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"e6784dbc.61642","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"56b66bdf.62da94","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"54cf91c8.af102","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"c37ae182.42ba9","type":"ui_spacer","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"e5e8fae4.d59988","type":"ui_spacer","name":"spacer","group":"","order":11,"width":2,"height":1},{"id":"a70f8903.93f298","type":"ui_spacer","name":"spacer","group":"","order":12,"width":2,"height":1},{"id":"19e48cb6.edd783","type":"ui_spacer","name":"spacer","group":"","order":14,"width":2,"height":1},{"id":"44ea25f4.be143c","type":"ui_spacer","name":"spacer","group":"","order":15,"width":2,"height":1},{"id":"fb77574c.f829d8","type":"ui_spacer","name":"spacer","group":"","order":16,"width":2,"height":1},{"id":"ad783a26.1cb698","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"94da1786.15c968","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"3484a01b.189df","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"8eb89c5e.3e3f2","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"d63bc6d8.391378","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"520a6e15.c0275","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"8bff2820.118688","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"70d52152.cf41e","type":"ui_spacer","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"b9192884.ad9f58","type":"ui_spacer","name":"spacer","group":"","order":11,"width":2,"height":1},{"id":"e464d85b.6d05a8","type":"ui_group","z":"","name":"Information","tab":"23df69a7.6878f6","order":1,"disp":true,"width":"6","collapse":false},{"id":"6e48ba66.fc7fb4","type":"ui_group","z":"","name":"Information","tab":"f6271ce6.df146","order":1,"disp":true,"width":"6","collapse":false},{"id":"1e832d2a.3f9103","type":"ui_group","z":"","name":"Information","tab":"d860cc10.b89d9","order":5,"disp":true,"width":2,"collapse":false},{"id":"8f283000.37d97","type":"ui_group","z":"","name":"Information","tab":"55d8d2a.e83082c","order":5,"disp":true,"width":2,"collapse":false},{"id":"55d8d2a.e83082c","type":"ui_tab","z":"","name":"Intermediate","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"f220eaf0.b7f948","type":"ui_spacer","name":"spacer","group":"f8f67e74.d9f59","order":1,"width":6,"height":1},{"id":"17f8ddc1.f38a52","type":"ui_spacer","name":"spacer","group":"f8f67e74.d9f59","order":2,"width":2,"height":1},{"id":"99e924f8.c8d918","type":"ui_spacer","name":"spacer","group":"f8f67e74.d9f59","order":4,"width":2,"height":1},{"id":"6edb3fc2.26286","type":"ui_spacer","name":"spacer","group":"f8f67e74.d9f59","order":5,"width":2,"height":1},{"id":"439a896a.0e3918","type":"ui_spacer","name":"spacer","group":"f8f67e74.d9f59","order":6,"width":2,"height":1},{"id":"abde9f0d.929f8","type":"ui_spacer","name":"spacer","group":"f8f67e74.d9f59","order":7,"width":2,"height":1},{"id":"d812fc60.d5291","type":"ui_spacer","name":"spacer","group":"f8f67e74.d9f59","order":9,"width":2,"height":1},{"id":"d0ab8b46.fef868","type":"ui_spacer","name":"spacer","group":"f8f67e74.d9f59","order":10,"width":2,"height":1},{"id":"3e2e9e6d.f1aba2","type":"ui_spacer","name":"spacer","group":"f8f67e74.d9f59","order":11,"width":2,"height":1},{"id":"8c32d4c5.e33a68","type":"ui_spacer","name":"spacer","group":"f8f67e74.d9f59","order":12,"width":2,"height":1},{"id":"5465f3cd.9f5a9c","type":"ui_spacer","name":"spacer","group":"f8f67e74.d9f59","order":14,"width":2,"height":1},{"id":"ee00ee6c.c149c","type":"ui_spacer","name":"spacer","group":"f8f67e74.d9f59","order":15,"width":2,"height":1},{"id":"ae91f22a.3ad31","type":"ui_spacer","name":"spacer","group":"f8f67e74.d9f59","order":16,"width":2,"height":1},{"id":"5334dc27.f88b24","type":"ui_spacer","name":"spacer","group":"275d4b74.ad8384","order":1,"width":6,"height":1},{"id":"39debfd.6dd874","type":"ui_spacer","name":"spacer","group":"275d4b74.ad8384","order":2,"width":2,"height":1},{"id":"5846da12.874454","type":"ui_spacer","name":"spacer","group":"275d4b74.ad8384","order":4,"width":2,"height":1},{"id":"62ebfc72.fed4c4","type":"ui_spacer","name":"spacer","group":"275d4b74.ad8384","order":5,"width":2,"height":1},{"id":"250d6a40.1b94b6","type":"ui_spacer","name":"spacer","group":"275d4b74.ad8384","order":6,"width":2,"height":1},{"id":"63d60448.fd8dec","type":"ui_spacer","name":"spacer","group":"275d4b74.ad8384","order":7,"width":2,"height":1},{"id":"bbfc2dfa.92c5c","type":"ui_spacer","name":"spacer","group":"275d4b74.ad8384","order":9,"width":2,"height":1},{"id":"7e88f34d.c6e48c","type":"ui_spacer","name":"spacer","group":"275d4b74.ad8384","order":10,"width":2,"height":1},{"id":"b86db0fa.79ac2","type":"ui_spacer","name":"spacer","group":"275d4b74.ad8384","order":11,"width":2,"height":1},{"id":"d50cd627.fee0b8","type":"ui_group","z":"","name":"SensAct Settings","tab":"","order":1,"disp":true,"width":"15","collapse":false},{"id":"3031a6bb.71bc1a","type":"ui_group","z":"","name":"MainUI","tab":"","order":1,"disp":true,"width":"21","collapse":false},{"id":"61c7350a.92a6cc","type":"ui_group","z":"","name":"SensAct Settings","tab":"","order":2,"disp":true,"width":"15","collapse":false},{"id":"5439c80c.4aace8","type":"ui_group","z":"","name":"First page","tab":"","disp":true,"width":"6","collapse":false},{"id":"6d5b60b1.ddb35","type":"ui_group","z":"","name":"Setting up devices","tab":"","order":1,"disp":true,"width":"14","collapse":false},{"id":"20602832.e4d818","type":"ui_group","z":"","name":"Device selection","tab":"","order":1,"disp":true,"width":12,"collapse":false},{"id":"a48d75d3.c7aa08","type":"ui_group","name":"Group 6","tab":"","order":6,"disp":true,"width":6},{"id":"73dc73f4.2d581c","type":"ui_group","z":"","name":"Port selection","tab":"","order":1,"disp":true,"width":16,"collapse":false},{"id":"6b44abb1.d746a4","type":"ui_group","z":"","name":"Input  device","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"d08cdb90.579228","type":"ui_group","z":"","name":"Input device selection","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"c78700f8.d6d31","type":"ui_group","z":"","name":"Configuration type","tab":"","order":1,"disp":true,"width":16,"collapse":false},{"id":"a7f86562.3f7308","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"4e06e25d.a568bc","type":"ui_group","name":"Group 4","tab":"","order":4,"disp":true,"width":6},{"id":"2e0e5990.b34656","type":"ui_group","z":"","name":"SensAct Software Manager","tab":"","order":1,"disp":true,"width":16,"collapse":false},{"id":"4afd2a56.a045e4","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":1,"width":16,"height":1},{"id":"d00e836a.2b773","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":2,"width":1,"height":1},{"id":"5f8b36.587ef4cc","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":4,"width":4,"height":1},{"id":"17bd2190.c0c6ce","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":6,"width":1,"height":1},{"id":"30447850.1d6d88","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":7,"width":1,"height":1},{"id":"c26cd1cb.68cb2","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":8,"width":4,"height":1},{"id":"d150a047.1f912","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":9,"width":1,"height":1},{"id":"7c408edf.7dad6","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":10,"width":16,"height":1},{"id":"ac5fec02.f2c82","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":11,"width":1,"height":1},{"id":"8bcabb2.3e85e48","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":13,"width":4,"height":1},{"id":"527905ed.e1a74c","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":15,"width":1,"height":1},{"id":"66eb1878.f64b88","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":16,"width":1,"height":1},{"id":"54659ec2.9acc6","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":17,"width":4,"height":1},{"id":"7cd7949d.353f4c","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":18,"width":1,"height":1},{"id":"3987b823.31c4b8","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":19,"width":16,"height":1},{"id":"7bf3527d.cac56c","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":20,"width":1,"height":1},{"id":"80938586.4e0a68","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":22,"width":4,"height":1},{"id":"c5bf127d.f9b11","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":24,"width":1,"height":1},{"id":"505bb62b.9dab28","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":25,"width":1,"height":1},{"id":"39bc0f59.7807c","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":26,"width":4,"height":1},{"id":"eb424d05.603ec","type":"ui_spacer","name":"spacer","group":"2e0e5990.b34656","order":27,"width":1,"height":1},{"id":"38c0c5d5.451cca","type":"ui_spacer","name":"spacer","group":"6d5b60b1.ddb35","order":3,"width":14,"height":1},{"id":"ec5d907f.d2853","type":"ui_spacer","name":"spacer","group":"6d5b60b1.ddb35","order":4,"width":2,"height":1},{"id":"23f0e5ef.b7c37a","type":"ui_spacer","name":"spacer","group":"6d5b60b1.ddb35","order":6,"width":4,"height":1},{"id":"fc6db667.84da98","type":"ui_spacer","name":"spacer","group":"6d5b60b1.ddb35","order":8,"width":2,"height":1},{"id":"927fea9c.332dd8","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":1,"width":12,"height":1},{"id":"77421033.29b5b","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":2,"width":1,"height":1},{"id":"3d3c2db0.c60f02","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":4,"width":2,"height":1},{"id":"a88defc6.3f60f","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":6,"width":1,"height":1},{"id":"bca74652.70f658","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":7,"width":1,"height":1},{"id":"c08b59a9.8368a8","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":8,"width":2,"height":1},{"id":"cb73c96e.f45d98","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":9,"width":1,"height":1},{"id":"6f653cc9.cbee44","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":10,"width":1,"height":1},{"id":"eb19ac9e.32fca","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":12,"width":2,"height":1},{"id":"61b851cc.274ee","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":14,"width":1,"height":1},{"id":"64a37ddc.a0e804","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":15,"width":1,"height":1},{"id":"d3b167ad.80e0e8","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":16,"width":2,"height":1},{"id":"cf9e92f1.4a07e","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":17,"width":1,"height":1},{"id":"8c01ad20.d0ab","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":18,"width":1,"height":1},{"id":"84f7e18f.4d078","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":20,"width":2,"height":1},{"id":"d43200c.5d8ed","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":22,"width":1,"height":1},{"id":"140d613c.5fbb5f","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":23,"width":1,"height":1},{"id":"c86449a2.8ba418","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":24,"width":2,"height":1},{"id":"d1e8481b.3034b8","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":25,"width":1,"height":1},{"id":"2869c37.129c53c","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":26,"width":12,"height":1},{"id":"7ca15760.233428","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":27,"width":5,"height":1},{"id":"4e447c61.78cb84","type":"ui_spacer","name":"spacer","group":"20602832.e4d818","order":29,"width":5,"height":1},{"id":"71ab8887.2bca28","type":"ui_spacer","name":"spacer","group":"d08cdb90.579228","order":1,"width":16,"height":1},{"id":"e76dabb1.1d13c8","type":"ui_spacer","name":"spacer","group":"d08cdb90.579228","order":2,"width":6,"height":1},{"id":"87be7c23.686a1","type":"ui_spacer","name":"spacer","group":"d08cdb90.579228","order":4,"width":6,"height":1},{"id":"4bb04a57.7baac4","type":"ui_spacer","name":"spacer","group":"d08cdb90.579228","order":5,"width":16,"height":1},{"id":"86a53895.d02ca8","type":"ui_spacer","name":"spacer","group":"d08cdb90.579228","order":6,"width":6,"height":1},{"id":"da822c2f.53ee5","type":"ui_spacer","name":"spacer","group":"d08cdb90.579228","order":8,"width":6,"height":1},{"id":"60474879.609e78","type":"ui_spacer","name":"spacer","group":"d08cdb90.579228","order":9,"width":16,"height":1},{"id":"578e51db.3f439","type":"ui_spacer","name":"spacer","group":"d08cdb90.579228","order":10,"width":16,"height":1},{"id":"6d5346b5.c73678","type":"ui_spacer","name":"spacer","group":"d08cdb90.579228","order":11,"width":7,"height":1},{"id":"1a3d8842.a6c728","type":"ui_spacer","name":"spacer","group":"d08cdb90.579228","order":13,"width":7,"height":1},{"id":"758f92f2.d2fa4c","type":"ui_spacer","name":"spacer","group":"c78700f8.d6d31","order":1,"width":16,"height":1},{"id":"b338c716.1a0ce8","type":"ui_spacer","name":"spacer","group":"c78700f8.d6d31","order":2,"width":3,"height":1},{"id":"f349ec6c.0a6c","type":"ui_spacer","name":"spacer","group":"c78700f8.d6d31","order":4,"width":2,"height":1},{"id":"64bb904a.307ad","type":"ui_spacer","name":"spacer","group":"c78700f8.d6d31","order":6,"width":3,"height":1},{"id":"dd9af494.f3eba8","type":"ui_spacer","name":"spacer","group":"c78700f8.d6d31","order":7,"width":3,"height":1},{"id":"a84a2023.2de69","type":"ui_spacer","name":"spacer","group":"c78700f8.d6d31","order":8,"width":2,"height":1},{"id":"46fe2c67.1685f4","type":"ui_spacer","name":"spacer","group":"c78700f8.d6d31","order":9,"width":3,"height":1},{"id":"6b49a70c.906e58","type":"ui_spacer","name":"spacer","group":"c78700f8.d6d31","order":10,"width":16,"height":1},{"id":"1763dc76.911fd4","type":"ui_spacer","name":"spacer","group":"c78700f8.d6d31","order":11,"width":16,"height":1},{"id":"37fb3898.6b00b8","type":"ui_spacer","name":"spacer","group":"c78700f8.d6d31","order":12,"width":7,"height":1},{"id":"99f58773.40f218","type":"ui_spacer","name":"spacer","group":"c78700f8.d6d31","order":14,"width":7,"height":1},{"id":"2117e71f.1107c8","type":"ui_spacer","name":"spacer","group":"6b44abb1.d746a4","order":1,"width":16,"height":1},{"id":"70327992.305888","type":"ui_spacer","name":"spacer","group":"6b44abb1.d746a4","order":2,"width":6,"height":1},{"id":"cf14333c.93f64","type":"ui_spacer","name":"spacer","group":"6b44abb1.d746a4","order":4,"width":6,"height":1},{"id":"f77d9090.bf8da","type":"ui_spacer","name":"spacer","group":"6b44abb1.d746a4","order":5,"width":16,"height":1},{"id":"950e463.69669b8","type":"ui_spacer","name":"spacer","group":"6b44abb1.d746a4","order":6,"width":6,"height":1},{"id":"a48070b5.b6763","type":"ui_spacer","name":"spacer","group":"6b44abb1.d746a4","order":8,"width":6,"height":1},{"id":"2aef690f.5466c6","type":"ui_spacer","name":"spacer","group":"6b44abb1.d746a4","order":9,"width":6,"height":1},{"id":"be1b4261.2a1e8","type":"ui_spacer","name":"spacer","group":"6b44abb1.d746a4","order":11,"width":6,"height":1},{"id":"b429b042.07794","type":"ui_spacer","name":"spacer","group":"6b44abb1.d746a4","order":12,"width":16,"height":1},{"id":"eed609c9.db27a8","type":"ui_spacer","name":"spacer","group":"6b44abb1.d746a4","order":13,"width":7,"height":1},{"id":"f2ea0950.385128","type":"ui_spacer","name":"spacer","group":"6b44abb1.d746a4","order":15,"width":7,"height":1},{"id":"1f148207.3204ee","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":1,"width":16,"height":1},{"id":"5255d780.03ffc8","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":2,"width":16,"height":1},{"id":"4f16dc05.6048b4","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":3,"width":7,"height":1},{"id":"8214693f.2cc578","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":5,"width":3,"height":1},{"id":"71febb7a.86d304","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":6,"width":3,"height":1},{"id":"5647934c.042a2c","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":8,"width":3,"height":1},{"id":"9895277e.bfa3d8","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":9,"width":3,"height":1},{"id":"7dafcd67.7c8c64","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":11,"width":3,"height":1},{"id":"6201850f.14399c","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":12,"width":3,"height":1},{"id":"bd0bdd45.8e29e","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":14,"width":3,"height":1},{"id":"6c263366.ebe2cc","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":15,"width":3,"height":1},{"id":"59b47511.da32fc","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":17,"width":3,"height":1},{"id":"a9eacf39.473c5","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":18,"width":7,"height":1},{"id":"990830d3.14ddc","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":19,"width":3,"height":1},{"id":"f98a2f92.d8062","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":20,"width":16,"height":1},{"id":"8fe39fdf.337e2","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":21,"width":7,"height":1},{"id":"24de56a6.4add9a","type":"ui_spacer","name":"spacer","group":"73dc73f4.2d581c","order":23,"width":7,"height":1},{"id":"b223c032.8a95f","type":"ui_group","z":"","name":"MainUI","tab":"","order":1,"disp":true,"width":"21","collapse":false},{"id":"41f255ae.dd1e7c","type":"ui_group","z":"","name":"SensAct Settings","tab":"","order":1,"disp":true,"width":"15","collapse":false},{"id":"54e4ab4f.15a9a4","type":"ui_group","z":"","name":"MainUI","tab":"","order":1,"disp":true,"width":"21","collapse":false},{"id":"f8ceb1db.b7bc9","type":"ui_group","z":"","name":"SensAct Settings","tab":"","order":2,"disp":true,"width":"15","collapse":false},{"id":"70aab7b9.914b48","type":"ui_group","z":"","name":"First page","tab":"","disp":true,"width":"6","collapse":false},{"id":"13d3f938.5ba2f7","type":"ui_group","z":"","name":"Setting up devices","tab":"","order":1,"disp":true,"width":"14","collapse":false},{"id":"91ac0de6.19399","type":"ui_group","z":"","name":"Device selection","tab":"","order":1,"disp":true,"width":12,"collapse":false},{"id":"423ccf81.44b7c","type":"ui_group","name":"Group 6","tab":"","order":6,"disp":true,"width":6},{"id":"682d5ab.1e794a4","type":"ui_group","z":"","name":"Port selection","tab":"","order":1,"disp":true,"width":16,"collapse":false},{"id":"88d3bb99.523418","type":"ui_group","z":"","name":"Input  device","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"5d89ada8.537f84","type":"ui_group","z":"","name":"Input device selection","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"52eb2f10.0fbbe","type":"ui_group","z":"","name":"Configuration type","tab":"","order":1,"disp":true,"width":16,"collapse":false},{"id":"56a034b4.2ec33c","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"b0e1e1f.7f0102","type":"ui_group","name":"Group 4","tab":"","order":4,"disp":true,"width":6},{"id":"8f88efa4.be4ec","type":"ui_group","z":"","name":"SensAct Software Manager","tab":"","order":1,"disp":true,"width":16,"collapse":false},{"id":"fb18b4ff.40f588","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":1,"width":16,"height":1},{"id":"61add02b.19b43","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":2,"width":1,"height":1},{"id":"b58a805e.c9c91","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":4,"width":4,"height":1},{"id":"ccd66032.15de9","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":6,"width":1,"height":1},{"id":"828e5ff8.2277a","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":7,"width":1,"height":1},{"id":"366378f1.405cf8","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":8,"width":4,"height":1},{"id":"84daee60.ea4b4","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":9,"width":1,"height":1},{"id":"884c1a76.635f18","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":10,"width":16,"height":1},{"id":"4a35688d.fd0078","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":11,"width":1,"height":1},{"id":"c039c404.c175d8","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":13,"width":4,"height":1},{"id":"581ff8ae.885758","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":15,"width":1,"height":1},{"id":"7600d98.a8dfd28","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":16,"width":1,"height":1},{"id":"66e31e73.d2a6c","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":17,"width":4,"height":1},{"id":"f6e94de.cc012b","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":18,"width":1,"height":1},{"id":"e67e4520.017898","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":19,"width":16,"height":1},{"id":"359d3db9.e59452","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":20,"width":1,"height":1},{"id":"386a03d7.d9bb0c","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":22,"width":4,"height":1},{"id":"2f4f1446.410a9c","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":24,"width":1,"height":1},{"id":"18e50220.67571e","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":25,"width":1,"height":1},{"id":"8e69fd73.f977f","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":26,"width":4,"height":1},{"id":"ad82739.9e4e39","type":"ui_spacer","name":"spacer","group":"8f88efa4.be4ec","order":27,"width":1,"height":1},{"id":"309afb69.262bf4","type":"ui_spacer","name":"spacer","group":"13d3f938.5ba2f7","order":3,"width":14,"height":1},{"id":"a1113137.06cf6","type":"ui_spacer","name":"spacer","group":"13d3f938.5ba2f7","order":4,"width":2,"height":1},{"id":"2cd39b7b.835ff4","type":"ui_spacer","name":"spacer","group":"13d3f938.5ba2f7","order":6,"width":4,"height":1},{"id":"62829fdf.1e645","type":"ui_spacer","name":"spacer","group":"13d3f938.5ba2f7","order":8,"width":2,"height":1},{"id":"a1063fdf.0d325","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":1,"width":12,"height":1},{"id":"13a053a1.35843c","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":2,"width":1,"height":1},{"id":"3eef7b19.53ace4","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":4,"width":2,"height":1},{"id":"b6b48938.40b9b8","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":6,"width":1,"height":1},{"id":"659255dc.2e358c","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":7,"width":1,"height":1},{"id":"9f273298.63e8c","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":8,"width":2,"height":1},{"id":"13b097d2.f76b38","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":9,"width":1,"height":1},{"id":"d8c8baa8.e5ea98","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":10,"width":1,"height":1},{"id":"2d67b7cd.1296b8","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":12,"width":2,"height":1},{"id":"11a909c8.fb53d6","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":14,"width":1,"height":1},{"id":"d49d59d0.d35608","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":15,"width":1,"height":1},{"id":"12b433af.ed4dfc","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":16,"width":2,"height":1},{"id":"ed4aac56.d9ffc","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":17,"width":1,"height":1},{"id":"8831def0.164bc","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":18,"width":1,"height":1},{"id":"b3cb29ad.ad07e8","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":20,"width":2,"height":1},{"id":"2b42fc22.44ea64","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":22,"width":1,"height":1},{"id":"66c289fd.2f5de8","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":23,"width":1,"height":1},{"id":"99dac5a9.1b5288","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":24,"width":2,"height":1},{"id":"da15524a.40ae1","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":25,"width":1,"height":1},{"id":"8cece79e.b9b668","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":26,"width":12,"height":1},{"id":"133a908c.72e16f","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":27,"width":5,"height":1},{"id":"7ee70bc2.e37f64","type":"ui_spacer","name":"spacer","group":"91ac0de6.19399","order":29,"width":5,"height":1},{"id":"80fd9fda.bf672","type":"ui_spacer","name":"spacer","group":"5d89ada8.537f84","order":1,"width":16,"height":1},{"id":"9948d4cf.0b3718","type":"ui_spacer","name":"spacer","group":"5d89ada8.537f84","order":2,"width":6,"height":1},{"id":"6f6d6aee.40ec94","type":"ui_spacer","name":"spacer","group":"5d89ada8.537f84","order":4,"width":6,"height":1},{"id":"f761f002.91086","type":"ui_spacer","name":"spacer","group":"5d89ada8.537f84","order":5,"width":16,"height":1},{"id":"758505db.9e210c","type":"ui_spacer","name":"spacer","group":"5d89ada8.537f84","order":6,"width":6,"height":1},{"id":"43819f83.86d4c","type":"ui_spacer","name":"spacer","group":"5d89ada8.537f84","order":8,"width":6,"height":1},{"id":"194bd85f.856648","type":"ui_spacer","name":"spacer","group":"5d89ada8.537f84","order":9,"width":16,"height":1},{"id":"76150c5a.48b8b4","type":"ui_spacer","name":"spacer","group":"5d89ada8.537f84","order":10,"width":16,"height":1},{"id":"330690b9.7ddf8","type":"ui_spacer","name":"spacer","group":"5d89ada8.537f84","order":11,"width":7,"height":1},{"id":"b73a09d.b4ca4f8","type":"ui_spacer","name":"spacer","group":"5d89ada8.537f84","order":13,"width":7,"height":1},{"id":"4239f2f5.5783dc","type":"ui_spacer","name":"spacer","group":"52eb2f10.0fbbe","order":1,"width":16,"height":1},{"id":"bd5e7fe8.6ab3e","type":"ui_spacer","name":"spacer","group":"52eb2f10.0fbbe","order":2,"width":3,"height":1},{"id":"acb74aa7.f4b8f8","type":"ui_spacer","name":"spacer","group":"52eb2f10.0fbbe","order":4,"width":2,"height":1},{"id":"fdfc41d8.2cfc5","type":"ui_spacer","name":"spacer","group":"52eb2f10.0fbbe","order":6,"width":3,"height":1},{"id":"250116e9.6f68fa","type":"ui_spacer","name":"spacer","group":"52eb2f10.0fbbe","order":7,"width":3,"height":1},{"id":"5b5b8107.f219","type":"ui_spacer","name":"spacer","group":"52eb2f10.0fbbe","order":8,"width":2,"height":1},{"id":"299ea2b0.5e764e","type":"ui_spacer","name":"spacer","group":"52eb2f10.0fbbe","order":9,"width":3,"height":1},{"id":"20218ea6.a90732","type":"ui_spacer","name":"spacer","group":"52eb2f10.0fbbe","order":10,"width":16,"height":1},{"id":"39b1b060.e37fc","type":"ui_spacer","name":"spacer","group":"52eb2f10.0fbbe","order":11,"width":16,"height":1},{"id":"67c8840.d2f7e7c","type":"ui_spacer","name":"spacer","group":"52eb2f10.0fbbe","order":12,"width":7,"height":1},{"id":"399fba0d.6b9ba6","type":"ui_spacer","name":"spacer","group":"52eb2f10.0fbbe","order":14,"width":7,"height":1},{"id":"2ccdce27.30fa02","type":"ui_spacer","name":"spacer","group":"88d3bb99.523418","order":1,"width":16,"height":1},{"id":"828a1b30.2e4128","type":"ui_spacer","name":"spacer","group":"88d3bb99.523418","order":2,"width":6,"height":1},{"id":"6ee04581.e0aecc","type":"ui_spacer","name":"spacer","group":"88d3bb99.523418","order":4,"width":6,"height":1},{"id":"e8776208.521db","type":"ui_spacer","name":"spacer","group":"88d3bb99.523418","order":5,"width":16,"height":1},{"id":"40fa3b8d.99c4a4","type":"ui_spacer","name":"spacer","group":"88d3bb99.523418","order":6,"width":6,"height":1},{"id":"4c51ebca.6d7a44","type":"ui_spacer","name":"spacer","group":"88d3bb99.523418","order":8,"width":6,"height":1},{"id":"c0111cbb.8f0e5","type":"ui_spacer","name":"spacer","group":"88d3bb99.523418","order":9,"width":6,"height":1},{"id":"5624f54e.2cb1bc","type":"ui_spacer","name":"spacer","group":"88d3bb99.523418","order":11,"width":6,"height":1},{"id":"fc6da6d4.b39aa8","type":"ui_spacer","name":"spacer","group":"88d3bb99.523418","order":12,"width":16,"height":1},{"id":"6b8bfd84.1a6a04","type":"ui_spacer","name":"spacer","group":"88d3bb99.523418","order":13,"width":7,"height":1},{"id":"5d5f7f96.157ed","type":"ui_spacer","name":"spacer","group":"88d3bb99.523418","order":15,"width":7,"height":1},{"id":"12bcb849.bd8588","type":"serial-port","z":"","serialport":"COM3","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":"10000"},{"id":"c4ec3316.5aba4","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":1,"width":16,"height":1},{"id":"3a8505da.71462a","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":2,"width":16,"height":1},{"id":"bf776282.7cdf8","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":3,"width":7,"height":1},{"id":"b4bca462.e84728","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":5,"width":3,"height":1},{"id":"980cf727.f65b18","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":6,"width":3,"height":1},{"id":"551aa0f4.00b0f","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":8,"width":3,"height":1},{"id":"d4172632.2e17c8","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":9,"width":3,"height":1},{"id":"d5278ca8.7f6e2","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":11,"width":3,"height":1},{"id":"e8698bd2.c9da38","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":12,"width":3,"height":1},{"id":"121b3a5f.982c36","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":14,"width":3,"height":1},{"id":"162745d9.94eb8a","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":15,"width":3,"height":1},{"id":"49a0589b.eea9a8","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":17,"width":3,"height":1},{"id":"e4abb176.745c1","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":18,"width":7,"height":1},{"id":"517fbbf9.968994","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":19,"width":3,"height":1},{"id":"8c413c73.9e96c","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":20,"width":16,"height":1},{"id":"2057ebfb.b1ada4","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":21,"width":7,"height":1},{"id":"e41d3090.3345","type":"ui_spacer","name":"spacer","group":"682d5ab.1e794a4","order":23,"width":7,"height":1},{"id":"4e31f115.a85ed","type":"ui_tab","z":"","name":"No Touch Menu","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6360b393.34ed6c","type":"ui_group","z":"","name":"Device Options","tab":"4e31f115.a85ed","order":1,"disp":true,"width":"10","collapse":false},{"id":"740060b3.2e68a","type":"ui_tab","z":"","name":"No Vision Menu","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"3bae645a.61cb3c","type":"ui_group","z":"","name":"Device Options","tab":"740060b3.2e68a","order":1,"disp":true,"width":"10","collapse":false},{"id":"e3cdab58.e34328","type":"ui_tab","z":"","name":"No Sound Menu","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"b9a7e0c3.cedfb","type":"ui_group","z":"","name":"Device Options","tab":"e3cdab58.e34328","order":1,"disp":true,"width":"10","collapse":false},{"id":"c404b13d.19aac","type":"ui_tab","z":"","name":"Limited Mobility","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"26726ab8.7b98e6","type":"ui_group","z":"","name":"Device Options","tab":"c404b13d.19aac","order":1,"disp":true,"width":"10","collapse":false},{"id":"295f5b97.2a82f4","type":"ui_spacer","name":"spacer","group":"dfd81a7f.34f6f8","order":1,"width":2,"height":1},{"id":"ca88607.feb8ea","type":"ui_spacer","name":"spacer","group":"6360b393.34ed6c","order":3,"width":10,"height":1},{"id":"906c45a.d90f9b8","type":"ui_spacer","name":"spacer","group":"3bae645a.61cb3c","order":5,"width":10,"height":1},{"id":"b1c4c169.233f","type":"ui_spacer","name":"spacer","group":"b9a7e0c3.cedfb","order":5,"width":10,"height":1},{"id":"f4bc5499.075f68","type":"ui_spacer","name":"spacer","group":"26726ab8.7b98e6","order":8,"width":10,"height":1},{"id":"9c0aadb3.482ad","type":"ui_spacer","name":"spacer","group":"5d06485b.f497b8","order":1,"width":6,"height":1},{"id":"44b4da58.bf7934","type":"ui_spacer","name":"spacer","group":"5d06485b.f497b8","order":2,"width":2,"height":1},{"id":"d1a12412.6cde38","type":"ui_spacer","name":"spacer","group":"5d06485b.f497b8","order":4,"width":2,"height":1},{"id":"633d45ec.eea4ec","type":"ui_spacer","name":"spacer","group":"5d06485b.f497b8","order":5,"width":2,"height":1},{"id":"f887f494.3f1078","type":"ui_spacer","name":"spacer","group":"5d06485b.f497b8","order":6,"width":2,"height":1},{"id":"6a7559e4.34d598","type":"ui_spacer","name":"spacer","group":"5d06485b.f497b8","order":7,"width":2,"height":1},{"id":"2c0fe37e.cdfeec","type":"ui_spacer","name":"spacer","group":"5d06485b.f497b8","order":9,"width":2,"height":1},{"id":"a870addc.6bf83","type":"ui_spacer","name":"spacer","group":"5d06485b.f497b8","order":10,"width":2,"height":1},{"id":"3c74710.6cd029","type":"ui_spacer","name":"spacer","group":"5d06485b.f497b8","order":11,"width":2,"height":1},{"id":"b1adea34.82fc88","type":"ui_spacer","name":"spacer","group":"5d06485b.f497b8","order":12,"width":2,"height":1},{"id":"9149f77.f3c2008","type":"ui_spacer","name":"spacer","group":"5d06485b.f497b8","order":14,"width":2,"height":1},{"id":"768b439c.ee49bc","type":"ui_spacer","name":"spacer","group":"5d06485b.f497b8","order":15,"width":2,"height":1},{"id":"293f84ae.178f9c","type":"ui_spacer","name":"spacer","group":"5d06485b.f497b8","order":16,"width":2,"height":1},{"id":"cce52d26.d6a65","type":"ui_spacer","name":"spacer","group":"c3b13c2e.1c0de","order":1,"width":6,"height":1},{"id":"28449cf.baa0e64","type":"ui_spacer","name":"spacer","group":"c3b13c2e.1c0de","order":2,"width":2,"height":1},{"id":"1704abb3.b44c24","type":"ui_spacer","name":"spacer","group":"c3b13c2e.1c0de","order":4,"width":2,"height":1},{"id":"b2d2694e.f23178","type":"ui_spacer","name":"spacer","group":"c3b13c2e.1c0de","order":5,"width":2,"height":1},{"id":"9066ba6b.cfede8","type":"ui_spacer","name":"spacer","group":"c3b13c2e.1c0de","order":6,"width":2,"height":1},{"id":"dace85f.22a7178","type":"ui_spacer","name":"spacer","group":"c3b13c2e.1c0de","order":7,"width":2,"height":1},{"id":"3da67541.9b2caa","type":"ui_spacer","name":"spacer","group":"c3b13c2e.1c0de","order":9,"width":2,"height":1},{"id":"bd24cd1a.9f6b4","type":"ui_spacer","name":"spacer","group":"c3b13c2e.1c0de","order":10,"width":2,"height":1},{"id":"13eb8d27.befe93","type":"ui_spacer","name":"spacer","group":"c3b13c2e.1c0de","order":11,"width":2,"height":1},{"id":"a2c50c18.71717","type":"ui_spacer","name":"spacer","group":"c3b13c2e.1c0de","order":12,"width":2,"height":1},{"id":"b98db611.8d5168","type":"ui_spacer","name":"spacer","group":"c3b13c2e.1c0de","order":14,"width":2,"height":1},{"id":"bd7a154c.a7cb78","type":"ui_spacer","name":"spacer","group":"c3b13c2e.1c0de","order":15,"width":2,"height":1},{"id":"4efd2c94.c61e04","type":"ui_spacer","name":"spacer","group":"c3b13c2e.1c0de","order":16,"width":2,"height":1},{"id":"9a4848d4.03c968","type":"ui_spacer","name":"spacer","group":"eb8f083a.f69508","order":5,"width":10,"height":1},{"id":"94a78c80.905de","type":"ui_spacer","name":"spacer","group":"7d18bc7.734c344","order":1,"width":10,"height":1},{"id":"b34ef6ee.882bf8","type":"ui_spacer","name":"spacer","group":"8858c15f.65153","order":1,"width":2,"height":1},{"id":"244064b.78ede9c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d79dd3da.ccec3","type":"ui_group","name":"Group 4","tab":"fb737382.469da","order":4,"disp":true,"width":6},{"id":"fe86a73f.1cc7a8","type":"ui_group","z":"","name":"MainUI","tab":"","order":1,"disp":true,"width":"21","collapse":false},{"id":"e691847.a7fef78","type":"ui_group","z":"","name":"SensAct Settings","tab":"cf4efabf.f7cc78","order":1,"disp":true,"width":"15","collapse":false},{"id":"d8c2f450.81a3b8","type":"ui_tab","z":"","name":"Setting up devices","icon":"dashboard","order":3,"disabled":true,"hidden":true},{"id":"236ec3ec.671a6c","type":"ui_group","z":"","name":"MainUI","tab":"","order":1,"disp":true,"width":"21","collapse":false},{"id":"b3c3fc91.2ba9e","type":"ui_group","z":"","name":"SensAct Settings","tab":"cf4efabf.f7cc78","order":2,"disp":true,"width":"15","collapse":false},{"id":"cf4efabf.f7cc78","type":"ui_tab","z":"","name":"Sensact Menu","icon":"dashboard","order":2,"disabled":true,"hidden":true},{"id":"b4067edd.41409","type":"ui_group","z":"","name":"First page","tab":"","disp":true,"width":"6","collapse":false},{"id":"8688d44f.f2d908","type":"ui_group","z":"","name":"Setting up devices","tab":"d8c2f450.81a3b8","order":1,"disp":true,"width":"14","collapse":false},{"id":"9c68075e.310148","type":"ui_tab","z":"","name":"Device selection","icon":"dashboard","order":4,"disabled":true,"hidden":true},{"id":"da440b81.6f6778","type":"ui_group","z":"","name":"Device selection","tab":"9c68075e.310148","order":1,"disp":true,"width":12,"collapse":false},{"id":"366770e1.6056c","type":"ui_group","name":"Group 6","tab":"","order":6,"disp":true,"width":6},{"id":"88cab6ca.4aaca8","type":"ui_tab","z":"","name":"Port selection","icon":"dashboard","order":5,"disabled":true,"hidden":true},{"id":"9fd7fc43.54f23","type":"ui_group","z":"","name":"Port selection","tab":"88cab6ca.4aaca8","order":1,"disp":true,"width":16,"collapse":false},{"id":"59ff289e.6ad448","type":"ui_tab","z":"","name":"Input  device","icon":"dashboard","order":6,"disabled":true,"hidden":true},{"id":"5385e92c.0737f8","type":"ui_group","z":"","name":"Input  device","tab":"59ff289e.6ad448","order":1,"disp":true,"width":"16","collapse":false},{"id":"dda3f0cf.d3da7","type":"ui_tab","z":"","name":"Input device selection","icon":"dashboard","order":7,"disabled":true,"hidden":true},{"id":"c4337230.36f16","type":"ui_group","z":"","name":"Input device selection","tab":"dda3f0cf.d3da7","order":1,"disp":true,"width":"16","collapse":false},{"id":"bad1cb46.c7b8e8","type":"ui_tab","z":"","name":"Configuration type","icon":"dashboard","order":8,"disabled":true,"hidden":true},{"id":"997525cf.95d2c8","type":"ui_tab","z":"","name":"Tab 12","icon":"dashboard","order":9,"disabled":true,"hidden":true},{"id":"2367a202.63534e","type":"ui_group","z":"","name":"Configuration type","tab":"bad1cb46.c7b8e8","order":1,"disp":true,"width":16,"collapse":false},{"id":"5cfe63ce.7c739c","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"840653f7.bb557","type":"ui_group","name":"Group 4","tab":"","order":4,"disp":true,"width":6},{"id":"5c6c9b09.cd2234","type":"ui_tab","z":"","name":"SensAct","icon":"dashboard","order":1,"disabled":true,"hidden":true},{"id":"ca046a25.139988","type":"ui_group","z":"","name":"SensAct Software Manager","tab":"5c6c9b09.cd2234","order":1,"disp":true,"width":16,"collapse":false},{"id":"8f83f434.471838","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":1,"width":16,"height":1},{"id":"ebaebf5c.66589","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":2,"width":1,"height":1},{"id":"93bfb3ef.91d5a","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":4,"width":4,"height":1},{"id":"6aada826.0e83c8","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":6,"width":1,"height":1},{"id":"e46c163b.1876a8","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":7,"width":1,"height":1},{"id":"6eb143c1.72c3bc","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":8,"width":4,"height":1},{"id":"e4a210dd.195e9","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":9,"width":1,"height":1},{"id":"6cbc25cd.f1ab9c","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":10,"width":16,"height":1},{"id":"39ff4764.886d78","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":11,"width":1,"height":1},{"id":"c8ec653b.956e08","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":13,"width":4,"height":1},{"id":"1c5e75db.7dfffa","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":15,"width":1,"height":1},{"id":"2af099fd.5ad5e6","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":16,"width":1,"height":1},{"id":"52f776c9.600be8","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":17,"width":4,"height":1},{"id":"916c97d3.451d48","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":18,"width":1,"height":1},{"id":"19fcebb5.b4d994","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":19,"width":16,"height":1},{"id":"f3cd40f6.c7247","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":20,"width":1,"height":1},{"id":"d79e3c7b.8825f","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":22,"width":4,"height":1},{"id":"fc7917b0.587928","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":24,"width":1,"height":1},{"id":"3c020630.8e6e4a","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":25,"width":1,"height":1},{"id":"541e9b29.77b664","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":26,"width":4,"height":1},{"id":"883e6fc0.bd4f4","type":"ui_spacer","name":"spacer","group":"ca046a25.139988","order":27,"width":1,"height":1},{"id":"382a4dc8.dd83d2","type":"ui_spacer","name":"spacer","group":"8688d44f.f2d908","order":3,"width":14,"height":1},{"id":"1372163.457faea","type":"ui_spacer","name":"spacer","group":"8688d44f.f2d908","order":4,"width":2,"height":1},{"id":"97ce115e.0ef4e","type":"ui_spacer","name":"spacer","group":"8688d44f.f2d908","order":6,"width":4,"height":1},{"id":"ee2cdaf1.bd1648","type":"ui_spacer","name":"spacer","group":"8688d44f.f2d908","order":8,"width":2,"height":1},{"id":"cd24f569.bedf18","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":1,"width":12,"height":1},{"id":"403fc8c7.2fae08","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":2,"width":1,"height":1},{"id":"a152fa58.f1afd8","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":4,"width":2,"height":1},{"id":"8424eacb.0f2ca8","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":6,"width":1,"height":1},{"id":"5cfaf4f3.bcf2fc","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":7,"width":1,"height":1},{"id":"9e48a28d.8f58f","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":8,"width":2,"height":1},{"id":"665a054a.6a0a8c","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":9,"width":1,"height":1},{"id":"84bfccf9.d56e8","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":10,"width":1,"height":1},{"id":"81ed5cc6.8fdae","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":12,"width":2,"height":1},{"id":"d92867b9.1cc1a8","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":14,"width":1,"height":1},{"id":"671f4080.4d8f6","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":15,"width":1,"height":1},{"id":"518103e0.1b752c","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":16,"width":2,"height":1},{"id":"23cdaa2b.8417f6","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":17,"width":1,"height":1},{"id":"36ee9a8a.0d2606","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":18,"width":1,"height":1},{"id":"1b7f1e1d.9cc922","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":20,"width":2,"height":1},{"id":"a45d0913.f4d988","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":22,"width":1,"height":1},{"id":"22597b3b.d40d94","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":23,"width":1,"height":1},{"id":"baa3be79.947af","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":24,"width":2,"height":1},{"id":"9642461d.db5bc8","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":25,"width":1,"height":1},{"id":"557e6af3.e98b14","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":26,"width":12,"height":1},{"id":"9fc2d2ba.5d7ce","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":27,"width":5,"height":1},{"id":"9c5810ae.2d432","type":"ui_spacer","name":"spacer","group":"da440b81.6f6778","order":29,"width":5,"height":1},{"id":"1f23ac3a.53bbd4","type":"ui_spacer","name":"spacer","group":"c4337230.36f16","order":1,"width":16,"height":1},{"id":"2adf6154.1e598e","type":"ui_spacer","name":"spacer","group":"c4337230.36f16","order":2,"width":6,"height":1},{"id":"ee3f6fb7.9930e","type":"ui_spacer","name":"spacer","group":"c4337230.36f16","order":4,"width":6,"height":1},{"id":"ac890ed1.263be","type":"ui_spacer","name":"spacer","group":"c4337230.36f16","order":5,"width":16,"height":1},{"id":"658dfe4f.11eeb","type":"ui_spacer","name":"spacer","group":"c4337230.36f16","order":6,"width":6,"height":1},{"id":"8dfff68a.68c518","type":"ui_spacer","name":"spacer","group":"c4337230.36f16","order":8,"width":6,"height":1},{"id":"3ca529aa.7205b6","type":"ui_spacer","name":"spacer","group":"c4337230.36f16","order":9,"width":16,"height":1},{"id":"508ff5c4.5a548c","type":"ui_spacer","name":"spacer","group":"c4337230.36f16","order":10,"width":16,"height":1},{"id":"e2105982.c88a48","type":"ui_spacer","name":"spacer","group":"c4337230.36f16","order":11,"width":7,"height":1},{"id":"69321193.c1ef1","type":"ui_spacer","name":"spacer","group":"c4337230.36f16","order":13,"width":7,"height":1},{"id":"e66274da.9a9008","type":"ui_spacer","name":"spacer","group":"2367a202.63534e","order":1,"width":16,"height":1},{"id":"4357b398.cbcacc","type":"ui_spacer","name":"spacer","group":"2367a202.63534e","order":2,"width":3,"height":1},{"id":"6ad539a0.568368","type":"ui_spacer","name":"spacer","group":"2367a202.63534e","order":4,"width":2,"height":1},{"id":"d351b3f5.d308a","type":"ui_spacer","name":"spacer","group":"2367a202.63534e","order":6,"width":3,"height":1},{"id":"ecd746aa.ba4918","type":"ui_spacer","name":"spacer","group":"2367a202.63534e","order":7,"width":3,"height":1},{"id":"6145d6be.253258","type":"ui_spacer","name":"spacer","group":"2367a202.63534e","order":8,"width":2,"height":1},{"id":"5072b1bc.705c4","type":"ui_spacer","name":"spacer","group":"2367a202.63534e","order":9,"width":3,"height":1},{"id":"614c50a1.9512","type":"ui_spacer","name":"spacer","group":"2367a202.63534e","order":10,"width":16,"height":1},{"id":"5c705cdb.40da24","type":"ui_spacer","name":"spacer","group":"2367a202.63534e","order":11,"width":16,"height":1},{"id":"d12e6fd8.53cbe","type":"ui_spacer","name":"spacer","group":"2367a202.63534e","order":12,"width":7,"height":1},{"id":"b3cbc67d.779bf8","type":"ui_spacer","name":"spacer","group":"2367a202.63534e","order":14,"width":7,"height":1},{"id":"79511037.efc08","type":"ui_spacer","name":"spacer","group":"5385e92c.0737f8","order":1,"width":16,"height":1},{"id":"f8e1ec64.fddd","type":"ui_spacer","name":"spacer","group":"5385e92c.0737f8","order":2,"width":6,"height":1},{"id":"7ac27bf7.6acc04","type":"ui_spacer","name":"spacer","group":"5385e92c.0737f8","order":4,"width":6,"height":1},{"id":"c5a7668f.43b8b8","type":"ui_spacer","name":"spacer","group":"5385e92c.0737f8","order":5,"width":16,"height":1},{"id":"46a067f4.43a9a8","type":"ui_spacer","name":"spacer","group":"5385e92c.0737f8","order":6,"width":6,"height":1},{"id":"d7e522a9.ecdf6","type":"ui_spacer","name":"spacer","group":"5385e92c.0737f8","order":8,"width":6,"height":1},{"id":"5c151d9b.440b84","type":"ui_spacer","name":"spacer","group":"5385e92c.0737f8","order":9,"width":6,"height":1},{"id":"bf82dc69.25ca8","type":"ui_spacer","name":"spacer","group":"5385e92c.0737f8","order":11,"width":6,"height":1},{"id":"900958e7.adc888","type":"ui_spacer","name":"spacer","group":"5385e92c.0737f8","order":12,"width":16,"height":1},{"id":"f662adb3.dc1b","type":"ui_spacer","name":"spacer","group":"5385e92c.0737f8","order":13,"width":7,"height":1},{"id":"17d952e4.4d501d","type":"ui_spacer","name":"spacer","group":"5385e92c.0737f8","order":15,"width":7,"height":1},{"id":"2a0e2d98.413602","type":"serial-port","z":"","serialport":"COM3","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":"10000"},{"id":"d994b7c8.ae17f8","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":1,"width":16,"height":1},{"id":"e347e821.d6cf18","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":2,"width":16,"height":1},{"id":"1318c78.c46c039","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":3,"width":7,"height":1},{"id":"91d87ae7.cb0698","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":5,"width":3,"height":1},{"id":"fa7560d5.3f46c","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":6,"width":3,"height":1},{"id":"98584c5.47d0ab","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":8,"width":3,"height":1},{"id":"a76262a9.7e9c2","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":9,"width":3,"height":1},{"id":"df74e4e3.4736b8","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":11,"width":3,"height":1},{"id":"9617d1dc.6cbf8","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":12,"width":3,"height":1},{"id":"db75ff24.52671","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":14,"width":3,"height":1},{"id":"ecd02d43.777a4","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":15,"width":3,"height":1},{"id":"2e3f2434.079c4c","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":17,"width":3,"height":1},{"id":"4a3d8712.5ba0a8","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":18,"width":7,"height":1},{"id":"f77d2f27.07fef","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":19,"width":3,"height":1},{"id":"c0b468fc.288838","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":20,"width":16,"height":1},{"id":"ad493335.53954","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":21,"width":7,"height":1},{"id":"44ebcd4.6354d34","type":"ui_spacer","name":"spacer","group":"9fd7fc43.54f23","order":23,"width":7,"height":1},{"id":"cf82e3c5.84a1f","type":"ui_tab","z":"","name":"Patient System","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"240db1ad.459e8e","type":"ui_group","z":"","name":"Choose a Patient System","tab":"cf82e3c5.84a1f","order":2,"disp":true,"width":"10","collapse":false},{"id":"f17bfc35.f83b2","type":"ui_group","z":"","name":"Choose Desired Setting","tab":"99d79299.a9937","order":1,"disp":true,"width":10,"collapse":false},{"id":"99d79299.a9937","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"bbeef1a6.c968","type":"ui_group","z":"","name":"Choose Device","tab":"b2a78154.0c14c","order":1,"disp":true,"width":12,"collapse":false},{"id":"f0ff31a5.9b882","type":"ui_tab","z":"","name":"Advanced","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"1b0c06a1.20ba19","type":"ui_group","z":"","name":"Choose Device","tab":"f0ff31a5.9b882","order":1,"disp":true,"width":12,"collapse":false},{"id":"f9c65c24.70775","type":"ui_tab","z":"","name":"Basic","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"cd062a5f.cafcd8","type":"ui_group","z":"","name":"Choose Functionality","tab":"f9c65c24.70775","order":2,"disp":true,"width":"6","collapse":false},{"id":"3ac67c1c.d159e4","type":"ui_group","z":"","name":"Choose Functionality","tab":"b2a78154.0c14c","order":2,"disp":true,"width":12,"collapse":false},{"id":"9ce618d6.af84d8","type":"ui_group","z":"","name":"Choose Functionality","tab":"f0ff31a5.9b882","order":2,"disp":true,"width":12,"collapse":false},{"id":"de48eef0.f3692","type":"ui_tab","z":"","name":"Options","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"f97fb777.a940a8","type":"ui_group","z":"","name":"Options","tab":"de48eef0.f3692","order":2,"disp":true,"width":8,"collapse":false},{"id":"8e02cd52.dd0c1","type":"ui_group","z":"","name":"Images","tab":"cf82e3c5.84a1f","order":3,"disp":true,"width":"2","collapse":false},{"id":"c389116a.25189","type":"ui_group","z":"","name":"Images","tab":"f0ff31a5.9b882","order":3,"disp":true,"width":6,"collapse":false},{"id":"3f3b7ce6.21d0d4","type":"ui_group","z":"","name":"Images","tab":"f9c65c24.70775","order":3,"disp":true,"width":"2","collapse":false},{"id":"eb6edc2f.ce31","type":"ui_group","z":"","name":"Images","tab":"b2a78154.0c14c","order":3,"disp":true,"width":6,"collapse":false},{"id":"c8112e38.c1b89","type":"ui_group","z":"","name":"Images","tab":"b2a78154.0c14c","order":4,"disp":true,"width":6,"collapse":false},{"id":"dee3cbfb.596cf8","type":"ui_group","z":"","name":"Images","tab":"f0ff31a5.9b882","order":4,"disp":true,"width":6,"collapse":false},{"id":"1f2f82e.fe3a47d","type":"ui_group","z":"","name":"Information","tab":"99d79299.a9937","order":2,"disp":true,"width":7,"collapse":false},{"id":"af186ae0.635508","type":"ui_spacer","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"d1218cff.c5714","type":"ui_spacer","name":"spacer","group":"","order":1,"width":2,"height":1},{"id":"273c1ab2.e44ae6","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"d9fc365f.e9b9e8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"7d096308.15580c","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"6cf3cf90.a09d8","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"e6ed39ee.484df8","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"31b59378.248adc","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"822380ab.745fa","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"b592960c.5425d8","type":"ui_spacer","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"499a96fd.0d9cb8","type":"ui_spacer","name":"spacer","group":"","order":11,"width":2,"height":1},{"id":"ea82d22d.2ad6c","type":"ui_spacer","name":"spacer","group":"","order":12,"width":2,"height":1},{"id":"7d1c61bc.8bcd5","type":"ui_spacer","name":"spacer","group":"","order":14,"width":2,"height":1},{"id":"80657c30.76a35","type":"ui_spacer","name":"spacer","group":"","order":15,"width":2,"height":1},{"id":"8523feb.4e678","type":"ui_spacer","name":"spacer","group":"","order":16,"width":2,"height":1},{"id":"5bbb2fa7.bc95c","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"d68fc30a.f7658","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"978c8035.d8c7e","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"bb1b45f4.753188","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"45685623.060ac8","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"1085b9ea.0cccd6","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"8c76cbb.4c8b938","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"e43282c.f59f88","type":"ui_spacer","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"fcef8ff4.daa0b","type":"ui_spacer","name":"spacer","group":"","order":11,"width":2,"height":1},{"id":"daaaba50.321f08","type":"ui_spacer","name":"spacer","group":"","order":12,"width":2,"height":1},{"id":"a63e7101.5070f","type":"ui_spacer","name":"spacer","group":"","order":14,"width":2,"height":1},{"id":"3c3c4482.15271c","type":"ui_spacer","name":"spacer","group":"","order":15,"width":2,"height":1},{"id":"666b75f9.6baf6c","type":"ui_spacer","name":"spacer","group":"","order":16,"width":2,"height":1},{"id":"306d9cd5.449394","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"550b4a7.a79c4b4","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"a602e926.d9b4a8","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"9cae7c80.5c327","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"2e5fe62a.b87c1a","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"d080e8c5.11d6d8","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"8a1004ea.14daa8","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"1b828e83.091cf1","type":"ui_spacer","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"e182c0e0.3e81c","type":"ui_spacer","name":"spacer","group":"","order":11,"width":2,"height":1},{"id":"d65fb058.e8a65","type":"ui_spacer","name":"spacer","group":"","order":12,"width":2,"height":1},{"id":"574f44c1.cd0ffc","type":"ui_spacer","name":"spacer","group":"","order":14,"width":2,"height":1},{"id":"1d773139.b1933f","type":"ui_spacer","name":"spacer","group":"","order":15,"width":2,"height":1},{"id":"3404a4fd.45e38c","type":"ui_spacer","name":"spacer","group":"","order":16,"width":2,"height":1},{"id":"417cb8d0.dcf688","type":"ui_spacer","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"62559c2e.f91fb4","type":"ui_spacer","name":"spacer","group":"","order":2,"width":2,"height":1},{"id":"96be196b.979a18","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"17e5afc7.04bbf","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"bc9efe7b.cd71f","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"ebf88881.1b20c8","type":"ui_spacer","name":"spacer","group":"","order":7,"width":2,"height":1},{"id":"652dd465.31e44c","type":"ui_spacer","name":"spacer","group":"","order":9,"width":2,"height":1},{"id":"159ec137.82167f","type":"ui_spacer","name":"spacer","group":"","order":10,"width":2,"height":1},{"id":"e1156523.6b7ae8","type":"ui_spacer","name":"spacer","group":"","order":11,"width":2,"height":1},{"id":"da10ba5d.5cb7a8","type":"ui_group","z":"","name":"Information","tab":"cf82e3c5.84a1f","order":1,"disp":true,"width":"6","collapse":false},{"id":"b4460b1e.d34d98","type":"ui_group","z":"","name":"Information","tab":"f9c65c24.70775","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1dffbbf.611bf8","type":"ui_group","z":"","name":"Information","tab":"f0ff31a5.9b882","order":5,"disp":true,"width":2,"collapse":false},{"id":"aaa7295e.d30f08","type":"ui_group","z":"","name":"Information","tab":"b2a78154.0c14c","order":5,"disp":true,"width":2,"collapse":false},{"id":"b2a78154.0c14c","type":"ui_tab","z":"","name":"Intermediate","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"a700997e.597a18","type":"ui_spacer","name":"spacer","group":"c389116a.25189","order":1,"width":6,"height":1},{"id":"aada177f.4f3138","type":"ui_spacer","name":"spacer","group":"c389116a.25189","order":2,"width":2,"height":1},{"id":"83b9031d.435eb","type":"ui_spacer","name":"spacer","group":"c389116a.25189","order":4,"width":2,"height":1},{"id":"32035237.8ea22e","type":"ui_spacer","name":"spacer","group":"c389116a.25189","order":5,"width":2,"height":1},{"id":"904a8444.50d0e8","type":"ui_spacer","name":"spacer","group":"c389116a.25189","order":6,"width":2,"height":1},{"id":"5c63d5fc.f8413c","type":"ui_spacer","name":"spacer","group":"c389116a.25189","order":7,"width":2,"height":1},{"id":"53c6fd40.8bce04","type":"ui_spacer","name":"spacer","group":"c389116a.25189","order":9,"width":2,"height":1},{"id":"e62969d3.326438","type":"ui_spacer","name":"spacer","group":"c389116a.25189","order":10,"width":2,"height":1},{"id":"464f67e7.fb0418","type":"ui_spacer","name":"spacer","group":"c389116a.25189","order":11,"width":2,"height":1},{"id":"804e1840.d03e88","type":"ui_spacer","name":"spacer","group":"c389116a.25189","order":12,"width":2,"height":1},{"id":"39ee1200.a42cde","type":"ui_spacer","name":"spacer","group":"c389116a.25189","order":14,"width":2,"height":1},{"id":"ba35c407.70ecf8","type":"ui_spacer","name":"spacer","group":"c389116a.25189","order":15,"width":2,"height":1},{"id":"a769fe49.bd6ae","type":"ui_spacer","name":"spacer","group":"c389116a.25189","order":16,"width":2,"height":1},{"id":"26e10278.538c6e","type":"ui_spacer","name":"spacer","group":"dee3cbfb.596cf8","order":1,"width":6,"height":1},{"id":"c602fc8f.4e7df","type":"ui_spacer","name":"spacer","group":"dee3cbfb.596cf8","order":2,"width":2,"height":1},{"id":"102b49e2.816366","type":"ui_spacer","name":"spacer","group":"dee3cbfb.596cf8","order":4,"width":2,"height":1},{"id":"29b6b000.152c5","type":"ui_spacer","name":"spacer","group":"dee3cbfb.596cf8","order":5,"width":2,"height":1},{"id":"80f7ef73.53336","type":"ui_spacer","name":"spacer","group":"dee3cbfb.596cf8","order":6,"width":2,"height":1},{"id":"e7be8e9e.17769","type":"ui_spacer","name":"spacer","group":"dee3cbfb.596cf8","order":7,"width":2,"height":1},{"id":"66341003.9450d","type":"ui_spacer","name":"spacer","group":"dee3cbfb.596cf8","order":9,"width":2,"height":1},{"id":"acbe945a.bbd598","type":"ui_spacer","name":"spacer","group":"dee3cbfb.596cf8","order":10,"width":2,"height":1},{"id":"f9633667.da4b68","type":"ui_spacer","name":"spacer","group":"dee3cbfb.596cf8","order":11,"width":2,"height":1},{"id":"458b8821.667608","type":"ui_group","z":"","name":"SensAct Settings","tab":"","order":1,"disp":true,"width":"15","collapse":false},{"id":"ac358e22.0ea67","type":"ui_group","z":"","name":"MainUI","tab":"","order":1,"disp":true,"width":"21","collapse":false},{"id":"b24210b8.46827","type":"ui_group","z":"","name":"SensAct Settings","tab":"","order":2,"disp":true,"width":"15","collapse":false},{"id":"d6487f90.a993a","type":"ui_group","z":"","name":"First page","tab":"","disp":true,"width":"6","collapse":false},{"id":"d83e1b78.904eb8","type":"ui_group","z":"","name":"Setting up devices","tab":"","order":1,"disp":true,"width":"14","collapse":false},{"id":"d15bb1be.8a49","type":"ui_group","z":"","name":"Device selection","tab":"","order":1,"disp":true,"width":12,"collapse":false},{"id":"8266dc7d.d575e","type":"ui_group","name":"Group 6","tab":"","order":6,"disp":true,"width":6},{"id":"ae45080.25135f8","type":"ui_group","z":"","name":"Port selection","tab":"","order":1,"disp":true,"width":16,"collapse":false},{"id":"44af8799.15f028","type":"ui_group","z":"","name":"Input  device","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"29e0c0d0.2c7f7","type":"ui_group","z":"","name":"Input device selection","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"27dde895.fd54e8","type":"ui_group","z":"","name":"Configuration type","tab":"","order":1,"disp":true,"width":16,"collapse":false},{"id":"3a1ba869.12f298","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"af466165.51188","type":"ui_group","name":"Group 4","tab":"","order":4,"disp":true,"width":6},{"id":"64c905e3.c443cc","type":"ui_group","z":"","name":"SensAct Software Manager","tab":"","order":1,"disp":true,"width":16,"collapse":false},{"id":"a5d95edd.06e5a","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":1,"width":16,"height":1},{"id":"c9c92e11.e861e","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":2,"width":1,"height":1},{"id":"1aed94ee.e0b69b","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":4,"width":4,"height":1},{"id":"f0293c46.2bb51","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":6,"width":1,"height":1},{"id":"fee4ba28.41eaf8","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":7,"width":1,"height":1},{"id":"aa2e134a.1cf6e","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":8,"width":4,"height":1},{"id":"ef5fff77.3b98b","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":9,"width":1,"height":1},{"id":"44833004.a17a4","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":10,"width":16,"height":1},{"id":"e9cddc84.38be3","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":11,"width":1,"height":1},{"id":"6d853f82.2985f","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":13,"width":4,"height":1},{"id":"7be64bff.e1ef34","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":15,"width":1,"height":1},{"id":"9f9f8d14.5a44f","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":16,"width":1,"height":1},{"id":"fe69a034.21bfe","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":17,"width":4,"height":1},{"id":"ba5e77b7.967628","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":18,"width":1,"height":1},{"id":"6c296850.d11258","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":19,"width":16,"height":1},{"id":"123e1f89.80987","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":20,"width":1,"height":1},{"id":"496b886f.b015e8","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":22,"width":4,"height":1},{"id":"d446771e.535408","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":24,"width":1,"height":1},{"id":"9b72c60d.237ce8","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":25,"width":1,"height":1},{"id":"f69b1f73.68789","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":26,"width":4,"height":1},{"id":"96e45ff6.847c2","type":"ui_spacer","name":"spacer","group":"64c905e3.c443cc","order":27,"width":1,"height":1},{"id":"f6e4252d.3fc738","type":"ui_spacer","name":"spacer","group":"d83e1b78.904eb8","order":3,"width":14,"height":1},{"id":"6ed1d21e.34601c","type":"ui_spacer","name":"spacer","group":"d83e1b78.904eb8","order":4,"width":2,"height":1},{"id":"ba2fc044.7ac72","type":"ui_spacer","name":"spacer","group":"d83e1b78.904eb8","order":6,"width":4,"height":1},{"id":"17c66187.586cae","type":"ui_spacer","name":"spacer","group":"d83e1b78.904eb8","order":8,"width":2,"height":1},{"id":"383d552c.7106da","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":1,"width":12,"height":1},{"id":"d1c825fc.944518","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":2,"width":1,"height":1},{"id":"c0266253.e6a63","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":4,"width":2,"height":1},{"id":"e922f9f1.b04a38","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":6,"width":1,"height":1},{"id":"14e0067c.b432ba","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":7,"width":1,"height":1},{"id":"143465d4.d9950a","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":8,"width":2,"height":1},{"id":"b37cf367.9da45","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":9,"width":1,"height":1},{"id":"81d2204d.b3f8c","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":10,"width":1,"height":1},{"id":"5ed06cd9.9e7c94","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":12,"width":2,"height":1},{"id":"4c6adb8.8456b24","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":14,"width":1,"height":1},{"id":"d3888af.4f91078","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":15,"width":1,"height":1},{"id":"ff7b63ed.0b08b","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":16,"width":2,"height":1},{"id":"2bf3cfb4.34c8","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":17,"width":1,"height":1},{"id":"ca2ce43d.7e1768","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":18,"width":1,"height":1},{"id":"8b8f6cd5.14df9","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":20,"width":2,"height":1},{"id":"f70169e.980ce98","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":22,"width":1,"height":1},{"id":"df0c3eb8.0700c","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":23,"width":1,"height":1},{"id":"5c723718.c07c38","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":24,"width":2,"height":1},{"id":"d5dcfead.6f905","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":25,"width":1,"height":1},{"id":"ed50c6ca.0f4668","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":26,"width":12,"height":1},{"id":"fd1d078b.252a18","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":27,"width":5,"height":1},{"id":"acc25779.7279e8","type":"ui_spacer","name":"spacer","group":"d15bb1be.8a49","order":29,"width":5,"height":1},{"id":"337702c6.1d7ede","type":"ui_spacer","name":"spacer","group":"29e0c0d0.2c7f7","order":1,"width":16,"height":1},{"id":"adc98465.4b7288","type":"ui_spacer","name":"spacer","group":"29e0c0d0.2c7f7","order":2,"width":6,"height":1},{"id":"fb4528cb.fc7d08","type":"ui_spacer","name":"spacer","group":"29e0c0d0.2c7f7","order":4,"width":6,"height":1},{"id":"4a21683a.11be68","type":"ui_spacer","name":"spacer","group":"29e0c0d0.2c7f7","order":5,"width":16,"height":1},{"id":"26afef30.713f","type":"ui_spacer","name":"spacer","group":"29e0c0d0.2c7f7","order":6,"width":6,"height":1},{"id":"7c388221.f02e6c","type":"ui_spacer","name":"spacer","group":"29e0c0d0.2c7f7","order":8,"width":6,"height":1},{"id":"1d6d8290.d8181d","type":"ui_spacer","name":"spacer","group":"29e0c0d0.2c7f7","order":9,"width":16,"height":1},{"id":"f52ef129.02536","type":"ui_spacer","name":"spacer","group":"29e0c0d0.2c7f7","order":10,"width":16,"height":1},{"id":"a1633492.9f0318","type":"ui_spacer","name":"spacer","group":"29e0c0d0.2c7f7","order":11,"width":7,"height":1},{"id":"a22a0132.615f7","type":"ui_spacer","name":"spacer","group":"29e0c0d0.2c7f7","order":13,"width":7,"height":1},{"id":"d912df0b.528e8","type":"ui_spacer","name":"spacer","group":"27dde895.fd54e8","order":1,"width":16,"height":1},{"id":"27d9c8ba.9a7c88","type":"ui_spacer","name":"spacer","group":"27dde895.fd54e8","order":2,"width":3,"height":1},{"id":"3fd1dfb.68ed22","type":"ui_spacer","name":"spacer","group":"27dde895.fd54e8","order":4,"width":2,"height":1},{"id":"725d6ead.80f68","type":"ui_spacer","name":"spacer","group":"27dde895.fd54e8","order":6,"width":3,"height":1},{"id":"7f5f1c1e.7f4fe4","type":"ui_spacer","name":"spacer","group":"27dde895.fd54e8","order":7,"width":3,"height":1},{"id":"1a21622f.2c0a9e","type":"ui_spacer","name":"spacer","group":"27dde895.fd54e8","order":8,"width":2,"height":1},{"id":"837843cc.88a64","type":"ui_spacer","name":"spacer","group":"27dde895.fd54e8","order":9,"width":3,"height":1},{"id":"750427d9.459138","type":"ui_spacer","name":"spacer","group":"27dde895.fd54e8","order":10,"width":16,"height":1},{"id":"1749d3c3.54500c","type":"ui_spacer","name":"spacer","group":"27dde895.fd54e8","order":11,"width":16,"height":1},{"id":"df22f77a.ff4188","type":"ui_spacer","name":"spacer","group":"27dde895.fd54e8","order":12,"width":7,"height":1},{"id":"e25d8e54.8b404","type":"ui_spacer","name":"spacer","group":"27dde895.fd54e8","order":14,"width":7,"height":1},{"id":"68dc40ab.dd71c","type":"ui_spacer","name":"spacer","group":"44af8799.15f028","order":1,"width":16,"height":1},{"id":"1fcb832b.74458d","type":"ui_spacer","name":"spacer","group":"44af8799.15f028","order":2,"width":6,"height":1},{"id":"3e09e492.fe2f4c","type":"ui_spacer","name":"spacer","group":"44af8799.15f028","order":4,"width":6,"height":1},{"id":"980ca51.7bf9358","type":"ui_spacer","name":"spacer","group":"44af8799.15f028","order":5,"width":16,"height":1},{"id":"5464ccc8.878eb4","type":"ui_spacer","name":"spacer","group":"44af8799.15f028","order":6,"width":6,"height":1},{"id":"c1466939.833c28","type":"ui_spacer","name":"spacer","group":"44af8799.15f028","order":8,"width":6,"height":1},{"id":"1b050d1d.34bf73","type":"ui_spacer","name":"spacer","group":"44af8799.15f028","order":9,"width":6,"height":1},{"id":"4600cb39.4183a4","type":"ui_spacer","name":"spacer","group":"44af8799.15f028","order":11,"width":6,"height":1},{"id":"7e497c47.1ae064","type":"ui_spacer","name":"spacer","group":"44af8799.15f028","order":12,"width":16,"height":1},{"id":"90508350.a1ffa","type":"ui_spacer","name":"spacer","group":"44af8799.15f028","order":13,"width":7,"height":1},{"id":"7968eb2f.695d34","type":"ui_spacer","name":"spacer","group":"44af8799.15f028","order":15,"width":7,"height":1},{"id":"37f775be.66db0a","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":1,"width":16,"height":1},{"id":"fe8d2960.269438","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":2,"width":16,"height":1},{"id":"6859f342.df3c3c","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":3,"width":7,"height":1},{"id":"9a7f2019.bce37","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":5,"width":3,"height":1},{"id":"348baf8e.25801","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":6,"width":3,"height":1},{"id":"1b8b616b.e3e7af","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":8,"width":3,"height":1},{"id":"9946d16c.f2c94","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":9,"width":3,"height":1},{"id":"2e2b4b5a.9f48e4","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":11,"width":3,"height":1},{"id":"cad2f8fb.b39fe8","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":12,"width":3,"height":1},{"id":"b7f566a6.615928","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":14,"width":3,"height":1},{"id":"13742add.93a045","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":15,"width":3,"height":1},{"id":"713d39ac.0711e8","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":17,"width":3,"height":1},{"id":"ea64fb10.714db8","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":18,"width":7,"height":1},{"id":"762f65db.77a67c","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":19,"width":3,"height":1},{"id":"36523354.fd750c","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":20,"width":16,"height":1},{"id":"3d45d6fb.33faaa","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":21,"width":7,"height":1},{"id":"dd0e93ac.55d87","type":"ui_spacer","name":"spacer","group":"ae45080.25135f8","order":23,"width":7,"height":1},{"id":"b39a5d7.d9e77a","type":"ui_group","z":"","name":"MainUI","tab":"","order":1,"disp":true,"width":"21","collapse":false},{"id":"c6361220.3c687","type":"ui_group","z":"","name":"SensAct Settings","tab":"","order":1,"disp":true,"width":"15","collapse":false},{"id":"b7f8dcf6.36228","type":"ui_group","z":"","name":"MainUI","tab":"","order":1,"disp":true,"width":"21","collapse":false},{"id":"277fe8ae.3abd78","type":"ui_group","z":"","name":"SensAct Settings","tab":"","order":2,"disp":true,"width":"15","collapse":false},{"id":"cd2e96bb.86a6b8","type":"ui_group","z":"","name":"First page","tab":"","disp":true,"width":"6","collapse":false},{"id":"b5386ebf.1d92f","type":"ui_group","z":"","name":"Setting up devices","tab":"","order":1,"disp":true,"width":"14","collapse":false},{"id":"7ac64e06.264df","type":"ui_group","z":"","name":"Device selection","tab":"","order":1,"disp":true,"width":12,"collapse":false},{"id":"147837b7.f86998","type":"ui_group","name":"Group 6","tab":"","order":6,"disp":true,"width":6},{"id":"16e5c8f1.a02667","type":"ui_group","z":"","name":"Port selection","tab":"","order":1,"disp":true,"width":16,"collapse":false},{"id":"6ebc32d8.d4dd6c","type":"ui_group","z":"","name":"Input  device","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"cb5d8d66.3d396","type":"ui_group","z":"","name":"Input device selection","tab":"","order":1,"disp":true,"width":"16","collapse":false},{"id":"96694467.7ae8e8","type":"ui_group","z":"","name":"Configuration type","tab":"","order":1,"disp":true,"width":16,"collapse":false},{"id":"2b5142ed.9ff95e","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"1d8d7b42.4cb935","type":"ui_group","name":"Group 4","tab":"","order":4,"disp":true,"width":6},{"id":"7dfcba96.c333e4","type":"ui_group","z":"","name":"SensAct Software Manager","tab":"","order":1,"disp":true,"width":16,"collapse":false},{"id":"a3baa187.f2e64","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":1,"width":16,"height":1},{"id":"998c2e8f.fb28f","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":2,"width":1,"height":1},{"id":"1c0d904d.59f76","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":4,"width":4,"height":1},{"id":"76d757e7.368068","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":6,"width":1,"height":1},{"id":"f6b0c738.ddbaf8","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":7,"width":1,"height":1},{"id":"9c602238.7385b","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":8,"width":4,"height":1},{"id":"1e8940e9.9497ff","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":9,"width":1,"height":1},{"id":"bd80113.566d5f","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":10,"width":16,"height":1},{"id":"b7156d44.d136b","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":11,"width":1,"height":1},{"id":"61fb6919.cee738","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":13,"width":4,"height":1},{"id":"9b120a49.4d4148","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":15,"width":1,"height":1},{"id":"50a90755.2f8998","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":16,"width":1,"height":1},{"id":"1587cdbd.63c302","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":17,"width":4,"height":1},{"id":"e147f348.f0ee7","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":18,"width":1,"height":1},{"id":"20e32fa9.25f2d","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":19,"width":16,"height":1},{"id":"634f6746.746788","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":20,"width":1,"height":1},{"id":"f552fd6e.07d59","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":22,"width":4,"height":1},{"id":"270b8763.05a168","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":24,"width":1,"height":1},{"id":"79f02b57.d880c4","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":25,"width":1,"height":1},{"id":"9ab9fd88.ea43b","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":26,"width":4,"height":1},{"id":"71b84926.7224a8","type":"ui_spacer","name":"spacer","group":"7dfcba96.c333e4","order":27,"width":1,"height":1},{"id":"8f99d4c9.a09218","type":"ui_spacer","name":"spacer","group":"b5386ebf.1d92f","order":3,"width":14,"height":1},{"id":"e5859437.636838","type":"ui_spacer","name":"spacer","group":"b5386ebf.1d92f","order":4,"width":2,"height":1},{"id":"61bb5617.ec8c58","type":"ui_spacer","name":"spacer","group":"b5386ebf.1d92f","order":6,"width":4,"height":1},{"id":"88a37619.b348f8","type":"ui_spacer","name":"spacer","group":"b5386ebf.1d92f","order":8,"width":2,"height":1},{"id":"266bc79f.c0baa8","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":1,"width":12,"height":1},{"id":"64d40194.d4faf","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":2,"width":1,"height":1},{"id":"5eb7c038.b1972","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":4,"width":2,"height":1},{"id":"3493061e.ad221a","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":6,"width":1,"height":1},{"id":"32f9a0b2.87ad7","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":7,"width":1,"height":1},{"id":"ff123df2.f21e8","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":8,"width":2,"height":1},{"id":"e0e5588.bd4dba8","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":9,"width":1,"height":1},{"id":"f7f7520d.de8e9","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":10,"width":1,"height":1},{"id":"6ad0af26.e8d82","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":12,"width":2,"height":1},{"id":"af189864.cf3ee8","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":14,"width":1,"height":1},{"id":"e8809a5a.a91f08","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":15,"width":1,"height":1},{"id":"155ce4a6.742deb","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":16,"width":2,"height":1},{"id":"6944d329.c8619c","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":17,"width":1,"height":1},{"id":"f6536314.a081b","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":18,"width":1,"height":1},{"id":"cbb788a9.7536b8","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":20,"width":2,"height":1},{"id":"77874695.4fe088","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":22,"width":1,"height":1},{"id":"a926322a.841df","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":23,"width":1,"height":1},{"id":"661ffd72.17ad64","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":24,"width":2,"height":1},{"id":"e4e4a457.d53468","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":25,"width":1,"height":1},{"id":"a6953e49.35b71","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":26,"width":12,"height":1},{"id":"b3ab75e4.01f258","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":27,"width":5,"height":1},{"id":"b0a6014b.7fdaa","type":"ui_spacer","name":"spacer","group":"7ac64e06.264df","order":29,"width":5,"height":1},{"id":"8b6afb11.43b128","type":"ui_spacer","name":"spacer","group":"cb5d8d66.3d396","order":1,"width":16,"height":1},{"id":"8f13d16a.2f5a1","type":"ui_spacer","name":"spacer","group":"cb5d8d66.3d396","order":2,"width":6,"height":1},{"id":"97dc3327.b25a5","type":"ui_spacer","name":"spacer","group":"cb5d8d66.3d396","order":4,"width":6,"height":1},{"id":"698ac6e3.20c708","type":"ui_spacer","name":"spacer","group":"cb5d8d66.3d396","order":5,"width":16,"height":1},{"id":"a1729cbe.a6b9f","type":"ui_spacer","name":"spacer","group":"cb5d8d66.3d396","order":6,"width":6,"height":1},{"id":"450f511c.a9ced","type":"ui_spacer","name":"spacer","group":"cb5d8d66.3d396","order":8,"width":6,"height":1},{"id":"db620e7e.6401d","type":"ui_spacer","name":"spacer","group":"cb5d8d66.3d396","order":9,"width":16,"height":1},{"id":"88da962d.e631f8","type":"ui_spacer","name":"spacer","group":"cb5d8d66.3d396","order":10,"width":16,"height":1},{"id":"9e473f9c.60d52","type":"ui_spacer","name":"spacer","group":"cb5d8d66.3d396","order":11,"width":7,"height":1},{"id":"45cbbaa7.666534","type":"ui_spacer","name":"spacer","group":"cb5d8d66.3d396","order":13,"width":7,"height":1},{"id":"69a4f364.e6921c","type":"ui_spacer","name":"spacer","group":"96694467.7ae8e8","order":1,"width":16,"height":1},{"id":"f15239ba.897a68","type":"ui_spacer","name":"spacer","group":"96694467.7ae8e8","order":2,"width":3,"height":1},{"id":"85ca5a3a.f3eee8","type":"ui_spacer","name":"spacer","group":"96694467.7ae8e8","order":4,"width":2,"height":1},{"id":"f131930b.62643","type":"ui_spacer","name":"spacer","group":"96694467.7ae8e8","order":6,"width":3,"height":1},{"id":"cd5a0b73.7695f8","type":"ui_spacer","name":"spacer","group":"96694467.7ae8e8","order":7,"width":3,"height":1},{"id":"164f2a55.330926","type":"ui_spacer","name":"spacer","group":"96694467.7ae8e8","order":8,"width":2,"height":1},{"id":"3920d7c5.3215f8","type":"ui_spacer","name":"spacer","group":"96694467.7ae8e8","order":9,"width":3,"height":1},{"id":"d7434df0.820c6","type":"ui_spacer","name":"spacer","group":"96694467.7ae8e8","order":10,"width":16,"height":1},{"id":"f123343e.908ed8","type":"ui_spacer","name":"spacer","group":"96694467.7ae8e8","order":11,"width":16,"height":1},{"id":"3bd9023c.36f8ee","type":"ui_spacer","name":"spacer","group":"96694467.7ae8e8","order":12,"width":7,"height":1},{"id":"6c691f4d.ba2f5","type":"ui_spacer","name":"spacer","group":"96694467.7ae8e8","order":14,"width":7,"height":1},{"id":"320c9ccc.474854","type":"ui_spacer","name":"spacer","group":"6ebc32d8.d4dd6c","order":1,"width":16,"height":1},{"id":"ed12b767.0124f8","type":"ui_spacer","name":"spacer","group":"6ebc32d8.d4dd6c","order":2,"width":6,"height":1},{"id":"4bd4652a.486dfc","type":"ui_spacer","name":"spacer","group":"6ebc32d8.d4dd6c","order":4,"width":6,"height":1},{"id":"c586f8c6.bb6cf8","type":"ui_spacer","name":"spacer","group":"6ebc32d8.d4dd6c","order":5,"width":16,"height":1},{"id":"fead20e2.0147","type":"ui_spacer","name":"spacer","group":"6ebc32d8.d4dd6c","order":6,"width":6,"height":1},{"id":"441b44db.4da5ec","type":"ui_spacer","name":"spacer","group":"6ebc32d8.d4dd6c","order":8,"width":6,"height":1},{"id":"f3d832dc.b9273","type":"ui_spacer","name":"spacer","group":"6ebc32d8.d4dd6c","order":9,"width":6,"height":1},{"id":"8852c27f.9b8c8","type":"ui_spacer","name":"spacer","group":"6ebc32d8.d4dd6c","order":11,"width":6,"height":1},{"id":"69dd9425.44d52c","type":"ui_spacer","name":"spacer","group":"6ebc32d8.d4dd6c","order":12,"width":16,"height":1},{"id":"4fcec35d.33fcec","type":"ui_spacer","name":"spacer","group":"6ebc32d8.d4dd6c","order":13,"width":7,"height":1},{"id":"3026b82d.3bd1d8","type":"ui_spacer","name":"spacer","group":"6ebc32d8.d4dd6c","order":15,"width":7,"height":1},{"id":"6b4ae829.da0e58","type":"serial-port","z":"","serialport":"COM3","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":"10000"},{"id":"42885a34.85c6d4","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":1,"width":16,"height":1},{"id":"d089c4a.876ca38","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":2,"width":16,"height":1},{"id":"e6078153.28ba5","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":3,"width":7,"height":1},{"id":"1dccebee.6939a4","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":5,"width":3,"height":1},{"id":"b4a5be9f.28adc","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":6,"width":3,"height":1},{"id":"ae46e60e.b188d8","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":8,"width":3,"height":1},{"id":"db627583.26de18","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":9,"width":3,"height":1},{"id":"55476a41.723f64","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":11,"width":3,"height":1},{"id":"5f6c27a3.339298","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":12,"width":3,"height":1},{"id":"2890812.41f8d7e","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":14,"width":3,"height":1},{"id":"897a8fa9.b5a34","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":15,"width":3,"height":1},{"id":"34d1457f.103cea","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":17,"width":3,"height":1},{"id":"e7a036b4.2fa538","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":18,"width":7,"height":1},{"id":"284eabf7.5714c4","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":19,"width":3,"height":1},{"id":"4cbd9307.5a15dc","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":20,"width":16,"height":1},{"id":"55a78663.537268","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":21,"width":7,"height":1},{"id":"ace2336c.4372f","type":"ui_spacer","name":"spacer","group":"16e5c8f1.a02667","order":23,"width":7,"height":1},{"id":"28b849a4.d247f6","type":"ui_tab","z":"","name":"No Touch Menu","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d4ad60a2.1a033","type":"ui_group","z":"","name":"Device Options","tab":"28b849a4.d247f6","order":2,"disp":true,"width":"10","collapse":false},{"id":"ecbb2c21.703b","type":"ui_tab","z":"","name":"No Vision Menu","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"1dcc7a4c.968976","type":"ui_group","z":"","name":"Device Options","tab":"ecbb2c21.703b","order":2,"disp":true,"width":"10","collapse":false},{"id":"cb445fc.7a220a","type":"ui_tab","z":"","name":"No Sound Menu","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"c285bda8.388f9","type":"ui_group","z":"","name":"Device Options","tab":"cb445fc.7a220a","order":2,"disp":true,"width":"10","collapse":false},{"id":"ee9fd441.6df688","type":"ui_tab","z":"","name":"Limited Mobility","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"493bf0ca.f9e24","type":"ui_group","z":"","name":"Device Options","tab":"ee9fd441.6df688","order":2,"disp":true,"width":"10","collapse":false},{"id":"74769fa8.315b3","type":"ui_spacer","name":"spacer","group":"8e02cd52.dd0c1","order":1,"width":2,"height":1},{"id":"1f3f7045.c4c3b","type":"ui_spacer","name":"spacer","group":"eb6edc2f.ce31","order":1,"width":6,"height":1},{"id":"fc678d2e.60474","type":"ui_spacer","name":"spacer","group":"eb6edc2f.ce31","order":2,"width":2,"height":1},{"id":"fe495da.684daa","type":"ui_spacer","name":"spacer","group":"eb6edc2f.ce31","order":4,"width":2,"height":1},{"id":"be56709b.ebcce","type":"ui_spacer","name":"spacer","group":"eb6edc2f.ce31","order":5,"width":2,"height":1},{"id":"a602562f.bbd4d8","type":"ui_spacer","name":"spacer","group":"eb6edc2f.ce31","order":6,"width":2,"height":1},{"id":"d015b790.b32488","type":"ui_spacer","name":"spacer","group":"eb6edc2f.ce31","order":7,"width":2,"height":1},{"id":"10107acc.ff3015","type":"ui_spacer","name":"spacer","group":"eb6edc2f.ce31","order":9,"width":2,"height":1},{"id":"3fdf4a00.75e9f6","type":"ui_spacer","name":"spacer","group":"eb6edc2f.ce31","order":10,"width":2,"height":1},{"id":"d2ca7ffa.37ebc","type":"ui_spacer","name":"spacer","group":"eb6edc2f.ce31","order":11,"width":2,"height":1},{"id":"f8cbde2b.c4714","type":"ui_spacer","name":"spacer","group":"eb6edc2f.ce31","order":12,"width":2,"height":1},{"id":"8c16314c.a2f51","type":"ui_spacer","name":"spacer","group":"eb6edc2f.ce31","order":14,"width":2,"height":1},{"id":"233402b0.b07afe","type":"ui_spacer","name":"spacer","group":"eb6edc2f.ce31","order":15,"width":2,"height":1},{"id":"ebc2e889.d556f8","type":"ui_spacer","name":"spacer","group":"eb6edc2f.ce31","order":16,"width":2,"height":1},{"id":"3c29d1ea.82953e","type":"ui_spacer","name":"spacer","group":"c8112e38.c1b89","order":1,"width":6,"height":1},{"id":"61619d6d.b43e44","type":"ui_spacer","name":"spacer","group":"c8112e38.c1b89","order":2,"width":2,"height":1},{"id":"b35a0fdc.7181b","type":"ui_spacer","name":"spacer","group":"c8112e38.c1b89","order":4,"width":2,"height":1},{"id":"e523b86e.4b6418","type":"ui_spacer","name":"spacer","group":"c8112e38.c1b89","order":5,"width":2,"height":1},{"id":"7c68e854.a680d8","type":"ui_spacer","name":"spacer","group":"c8112e38.c1b89","order":6,"width":2,"height":1},{"id":"ca45d6a6.534e68","type":"ui_spacer","name":"spacer","group":"c8112e38.c1b89","order":7,"width":2,"height":1},{"id":"964b5441.3617c8","type":"ui_spacer","name":"spacer","group":"c8112e38.c1b89","order":9,"width":2,"height":1},{"id":"20854cf9.f73b24","type":"ui_spacer","name":"spacer","group":"c8112e38.c1b89","order":10,"width":2,"height":1},{"id":"9cb8ce55.50623","type":"ui_spacer","name":"spacer","group":"c8112e38.c1b89","order":11,"width":2,"height":1},{"id":"4ba04def.ef82a4","type":"ui_spacer","name":"spacer","group":"c8112e38.c1b89","order":12,"width":2,"height":1},{"id":"ce92b433.462568","type":"ui_spacer","name":"spacer","group":"c8112e38.c1b89","order":14,"width":2,"height":1},{"id":"1116bd29.36f5f3","type":"ui_spacer","name":"spacer","group":"c8112e38.c1b89","order":15,"width":2,"height":1},{"id":"e2bb5c7a.9bb9e","type":"ui_spacer","name":"spacer","group":"c8112e38.c1b89","order":16,"width":2,"height":1},{"id":"9c5b60e0.51956","type":"ui_spacer","name":"spacer","group":"3f3b7ce6.21d0d4","order":1,"width":2,"height":1},{"id":"b8be918d.04666","type":"ui_group","z":"","name":"Images","tab":"28b849a4.d247f6","order":3,"disp":true,"width":2,"collapse":false},{"id":"44f7d8c0.df7fb8","type":"ui_group","z":"","name":"Information","tab":"28b849a4.d247f6","order":1,"disp":true,"width":"6","collapse":false},{"id":"33fe7ba0.3a9b44","type":"ui_group","z":"","name":"Images","tab":"ecbb2c21.703b","order":3,"disp":true,"width":2,"collapse":false},{"id":"de9d1553.4a7de8","type":"ui_spacer","name":"spacer","group":"d4ad60a2.1a033","order":3,"width":10,"height":1},{"id":"64c9f0f4.b0ded","type":"ui_group","z":"","name":"Information","tab":"ecbb2c21.703b","order":1,"disp":true,"width":"6","collapse":false},{"id":"ea67c9e5.5fe2e8","type":"ui_spacer","name":"spacer","group":"1dcc7a4c.968976","order":5,"width":10,"height":1},{"id":"2fade942.d78086","type":"ui_group","z":"","name":"Images","tab":"cb445fc.7a220a","order":3,"disp":true,"width":2,"collapse":false},{"id":"746ddf63.dacc7","type":"ui_spacer","name":"spacer","group":"c285bda8.388f9","order":5,"width":10,"height":1},{"id":"c2111d33.dffcb","type":"ui_group","z":"","name":"Information","tab":"cb445fc.7a220a","order":1,"disp":true,"width":"6","collapse":false},{"id":"ec75f6b4.2669d8","type":"ui_group","z":"","name":"Images","tab":"ee9fd441.6df688","order":3,"disp":true,"width":2,"collapse":false},{"id":"5ad4c8ea.0593f8","type":"ui_group","z":"","name":"Information","tab":"ee9fd441.6df688","order":1,"disp":true,"width":"6","collapse":false},{"id":"1deea157.8199ef","type":"ui_spacer","name":"spacer","group":"493bf0ca.f9e24","order":8,"width":10,"height":1},{"id":"e184e74d.9bd5e8","type":"ui_group","z":"","name":"Information","tab":"de48eef0.f3692","order":1,"disp":true,"width":"6","collapse":false},{"id":"c295487e.3c4b88","type":"ui_spacer","name":"spacer","group":"f17bfc35.f83b2","order":4,"width":10,"height":1},{"id":"7e59a8bb.11d2b8","type":"ui_spacer","name":"spacer","group":"1f2f82e.fe3a47d","order":1,"width":7,"height":1},{"id":"904d0259.732cc","type":"ui_spacer","name":"spacer","group":"1f2f82e.fe3a47d","order":3,"width":7,"height":1},{"id":"dc1c5ca9.84e7c","type":"ui_button","z":"bbe62a6d.da86d8","name":"","group":"d52108de.e70668","order":2,"width":10,"height":2,"passthru":false,"label":"No Touch System","tooltip":"","color":"","bgcolor":"","icon":"","payload":"No Touch Menu","payloadType":"str","topic":"","x":230,"y":240,"wires":[["dc249f67.0fe0d","f9bf884e.3a2c88","6c8a37c0.942488","34e6cb91.945b94"]]},{"id":"dc249f67.0fe0d","type":"ui_text","z":"bbe62a6d.da86d8","group":"d52108de.e70668","order":1,"width":10,"height":1,"name":"","label":"Instructions","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":300,"wires":[]},{"id":"cf99699f.73bb88","type":"ui_button","z":"bbe62a6d.da86d8","name":"","group":"d52108de.e70668","order":3,"width":10,"height":2,"passthru":false,"label":"No Vision System","tooltip":"","color":"","bgcolor":"","icon":"","payload":"No Vision Menu","payloadType":"str","topic":"","x":310,"y":340,"wires":[["dc249f67.0fe0d","f2abb74b.e1eab8","6c8a37c0.942488","34e6cb91.945b94"]]},{"id":"f4ee3fce.b2937","type":"ui_button","z":"bbe62a6d.da86d8","name":"","group":"d52108de.e70668","order":4,"width":10,"height":2,"passthru":false,"label":"No Sound System","tooltip":"","color":"","bgcolor":"","icon":"","payload":"No Sound Menu","payloadType":"str","topic":"","x":290,"y":460,"wires":[["dc249f67.0fe0d","2c0da658.4e240a","6c8a37c0.942488","34e6cb91.945b94"]]},{"id":"93ad9352.22037","type":"ui_button","z":"bbe62a6d.da86d8","name":"","group":"d52108de.e70668","order":5,"width":10,"height":2,"passthru":false,"label":"Limited Mobility","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Limited Mobility","payloadType":"str","topic":"","x":240,"y":180,"wires":[["dc249f67.0fe0d","f51b0a20.f9f2e8","6c8a37c0.942488","34e6cb91.945b94"]],"inputLabels":["A5"],"outputLabels":["A2"]},{"id":"b7f7b3a1.b061c","type":"ui_text","z":"f840142a.cea9b8","group":"eb8f083a.f69508","order":1,"width":10,"height":1,"name":"","label":"Instructions","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":280,"wires":[]},{"id":"7fb74cb8.5b4534","type":"debug","z":"f840142a.cea9b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":360,"wires":[]},{"id":"cbb6aa08.20aba8","type":"ui_button","z":"f840142a.cea9b8","name":"","group":"eb8f083a.f69508","order":3,"width":10,"height":2,"passthru":false,"label":"Intermediate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Intermediate","payloadType":"str","topic":"","x":230,"y":360,"wires":[["b7f7b3a1.b061c","7fb74cb8.5b4534","3539f54f.a51caa"]]},{"id":"a15dc62b.179788","type":"ui_button","z":"f840142a.cea9b8","name":"","group":"eb8f083a.f69508","order":4,"width":10,"height":2,"passthru":false,"label":"Advanced","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Advanced","payloadType":"str","topic":"","x":240,"y":440,"wires":[["b7f7b3a1.b061c","7fb74cb8.5b4534","3539f54f.a51caa"]]},{"id":"66dd3619.060198","type":"ui_button","z":"dc93584e.c0a168","name":"","group":"5d2d0f83.a969f","order":2,"width":12,"height":2,"passthru":false,"label":"Joystick","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":160,"wires":[["f1892978.708eb8","b5ff1bbe.aab478","7b599215.db1ffc"]]},{"id":"d6fe5a23.269538","type":"ui_button","z":"dc93584e.c0a168","name":"","group":"5d2d0f83.a969f","order":3,"width":12,"height":2,"passthru":false,"label":"Touch Sensor","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":260,"wires":[["f1892978.708eb8","b5ff1bbe.aab478","35735396.6be16c"]]},{"id":"9b465e57.2f8e3","type":"ui_button","z":"dc93584e.c0a168","name":"","group":"5d2d0f83.a969f","order":4,"width":12,"height":2,"passthru":false,"label":"Press And Hold","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":340,"wires":[["f1892978.708eb8","b5ff1bbe.aab478","7480fc75.dfb4d4"]]},{"id":"f1892978.708eb8","type":"ui_text","z":"dc93584e.c0a168","group":"5d2d0f83.a969f","order":1,"width":12,"height":1,"name":"","label":"Instructions","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":160,"wires":[]},{"id":"b5ff1bbe.aab478","type":"debug","z":"dc93584e.c0a168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":280,"wires":[]},{"id":"87c49587.dd4608","type":"ui_button","z":"ab7075d2.016478","name":"","group":"846e845f.451678","order":2,"width":6,"height":2,"passthru":false,"label":"Mouse","tooltip":"","color":"","bgcolor":"","icon":"","payload":"T```o t@AA`ang2@@B````````````qz t@AB`ang1@EA```````e````qz t@AB`ang2@GC`cb```oj`cnhqz t@AC`ang1@@D````````````qz t@AD`ang2@ED```````a````pz t@AC`ang2@GE`ai```oj`cnhqz t@AE`ang1@@F````````````qz t@AF`ang2@EF```````b````pz t@AE`ang2@GG`beh``oj`cnhqz t@AG`ang1@@H````````````qz t@AH`ang2@EH```````c````pz t@AG`ang2@GI`aod``oj`cnhqz t@AI`ang1@@J````````````qz t@AJ`ang2@EJ```````d````pz t@A@`ang1@GA``lh``if`gm`qz Y``adCK@DCK@GBC@H`aod`aodZ","payloadType":"str","topic":"","x":310,"y":160,"wires":[["9d680efe.7571e","e7ab8ec9.99393","87d1e4a5.3f6ec8","b4d6748.5021688"]]},{"id":"13c1867.0de2a7a","type":"ui_button","z":"ab7075d2.016478","name":"","group":"846e845f.451678","order":3,"width":6,"height":2,"passthru":false,"label":"Call Bell","tooltip":"","color":"","bgcolor":"","icon":"","payload":"T```b t@EA`aoo2@AA````````````qz t@EA`aoo2@GA`ai```oj````qz Y``adCK@DCK@GBC@H`aod`aodZ","payloadType":"str","topic":"","x":300,"y":240,"wires":[["9d680efe.7571e","e7ab8ec9.99393","6722c633.3208c8","b4d6748.5021688"]]},{"id":"fc62a0f5.387a3","type":"ui_button","z":"ab7075d2.016478","name":"","group":"846e845f.451678","order":4,"width":6,"height":2,"passthru":false,"label":"TV Controller","tooltip":"","color":"","bgcolor":"","icon":"","payload":"T``ak t@CA`anb2@@B````````````qz t@CB`anb1@GB`ai```oj`kkhqz t@CB`anb1@KD```````d`kkhqz t@CD`anb2@HE`an`d`ko````qz t@CE`anb1@KA````````````qz t@CD`anb1@GD`ai```oj`kkhqz t@CD`anb1@KF```````h`kkhqz t@CF`anb2@HG`an`dhkg`cnhqz t@CG`anb1@KA````````````qz t@CF`anb1@GF``oj``oj`kkhqz t@CF`anb1@KH``````a``kkhqz t@CH`anb2@HI`an``hog`cnhqz t@CI`anb1@KA````````````qz t@CH`anb1@GH``lh``oj`kkhqz t@CH`anb1@KJ``````b``kkhqz t@CJ`anb2@HK`an`n`ao`cnhqz t@CK`anb1@KA````````````qz t@CJ`anb1@GJ``if``oj`kkhqz t@CJ`anb1@KL``````d``kkhqz t@CL`anb2@HM`an`m`bo`cnhqz t@CM`anb1@KA````````````qz t@CL`anb1@GL`ai```oj`kkhqz t@CL`anb1@KN``````h``kkhqz t@CN`anb2@HN`an`f`io````qz t@CN`anb2@HN`an`f`io`cnhqz t@CN`anb1@KO`````````kkhqz t@CO`anb1@@A````````````qz Y``adCK@CCK@FBC@I`aod`aodZ","payloadType":"str","topic":"","x":270,"y":360,"wires":[["9d680efe.7571e","e7ab8ec9.99393","f508822c.02993","b4d6748.5021688"]]},{"id":"1e03b3c7.9ce7cc","type":"ui_button","z":"ab7075d2.016478","name":"","group":"846e845f.451678","order":5,"width":6,"height":2,"passthru":false,"label":"Light Switch","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":440,"wires":[["9d680efe.7571e","e7ab8ec9.99393","84fa142e.1b3818","b4d6748.5021688"]]},{"id":"9d680efe.7571e","type":"ui_text","z":"ab7075d2.016478","group":"846e845f.451678","order":1,"width":6,"height":1,"name":"","label":"Instructions","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":280,"wires":[]},{"id":"e7ab8ec9.99393","type":"debug","z":"ab7075d2.016478","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":380,"wires":[]},{"id":"99d549c6.941408","type":"debug","z":"dc93584e.c0a168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":520,"wires":[]},{"id":"58c7124e.1b0d9c","type":"ui_button","z":"dc93584e.c0a168","name":"","group":"5d2e1053.37aff","order":3,"width":12,"height":2,"passthru":false,"label":"PiMenu Access","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":460,"wires":[["d5d7d62b.43f5d8","99d549c6.941408","c10ca102.3d4f6"]]},{"id":"989c42b3.8457","type":"ui_button","z":"dc93584e.c0a168","name":"","group":"5d2e1053.37aff","order":2,"width":12,"height":2,"passthru":false,"label":"Onboard Access","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":290,"y":580,"wires":[["d5d7d62b.43f5d8","99d549c6.941408","4d8687f0.c77a58"]]},{"id":"d5d7d62b.43f5d8","type":"ui_text","z":"dc93584e.c0a168","group":"5d2e1053.37aff","order":1,"width":12,"height":1,"name":"","label":"Instructions","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":460,"wires":[]},{"id":"8244959e.9c0a88","type":"ui_button","z":"130d7f3f.544931","name":"","group":"1d47737b.db53dd","order":2,"width":0,"height":0,"passthru":false,"label":"Return to menu","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Patient System","payloadType":"str","topic":"","x":310,"y":200,"wires":[["4736238b.b7010c","a25addcb.2007e","43a546ed.7ec5e8"]]},{"id":"decb0.3cfbf351","type":"ui_button","z":"130d7f3f.544931","name":"","group":"1d47737b.db53dd","order":3,"width":0,"height":0,"passthru":false,"label":"Exit App","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":320,"wires":[["4736238b.b7010c","a25addcb.2007e"]]},{"id":"4736238b.b7010c","type":"ui_text","z":"130d7f3f.544931","group":"1d47737b.db53dd","order":1,"width":0,"height":0,"name":"","label":"Instructions","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":200,"wires":[]},{"id":"a25addcb.2007e","type":"debug","z":"130d7f3f.544931","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":300,"wires":[]},{"id":"f51b0a20.f9f2e8","type":"ui_media","z":"bbe62a6d.da86d8","group":"dfd81a7f.34f6f8","name":"No Mobility","width":2,"height":2,"order":5,"category":"No mobility","file":"amputation2-512.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":850,"y":160,"wires":[[]]},{"id":"f2abb74b.e1eab8","type":"ui_media","z":"bbe62a6d.da86d8","group":"dfd81a7f.34f6f8","name":"No Vision","width":2,"height":2,"order":3,"category":"No vision","file":"65000.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":860,"y":340,"wires":[[]]},{"id":"2c0da658.4e240a","type":"ui_media","z":"bbe62a6d.da86d8","group":"dfd81a7f.34f6f8","name":"No Sound","width":2,"height":2,"order":4,"category":"No sound","file":"blueberry-ear-svg-png-icon-free-download-325086-ear-icon-png-980_985.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":860,"y":440,"wires":[[]]},{"id":"f9bf884e.3a2c88","type":"ui_media","z":"bbe62a6d.da86d8","group":"dfd81a7f.34f6f8","name":"No Touch","width":2,"height":2,"order":2,"category":"No Touch","file":"Hand-Touch-2.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":930,"y":220,"wires":[[]]},{"id":"87d1e4a5.3f6ec8","type":"ui_media","z":"ab7075d2.016478","group":"8858c15f.65153","name":"Mouse","width":2,"height":2,"order":2,"category":"Mouse","file":"7-75153_computer-mouse-computer-keyboard-clip-art-white-drawing.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":620,"y":160,"wires":[[]]},{"id":"6722c633.3208c8","type":"ui_media","z":"ab7075d2.016478","group":"8858c15f.65153","name":"Call Bell","width":2,"height":2,"order":3,"category":"","file":"18385-200.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":640,"y":240,"wires":[[]]},{"id":"f508822c.02993","type":"ui_media","z":"ab7075d2.016478","group":"8858c15f.65153","name":"TV Controller","width":2,"height":2,"order":4,"category":"TV Controller","file":"38ccd201537b0891643deb3f322a1602-remote-controller-icon-by-vexels.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":650,"y":340,"wires":[[]]},{"id":"84fa142e.1b3818","type":"ui_media","z":"ab7075d2.016478","group":"8858c15f.65153","name":"Light Swtich","width":2,"height":2,"order":5,"category":"Light Switch","file":"2235-200.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":650,"y":440,"wires":[[]]},{"id":"7b599215.db1ffc","type":"ui_media","z":"dc93584e.c0a168","group":"f8f67e74.d9f59","name":"Joystick","width":2,"height":2,"order":3,"category":"Joystick","file":"img_476653.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":510,"y":120,"wires":[[]]},{"id":"35735396.6be16c","type":"ui_media","z":"dc93584e.c0a168","group":"f8f67e74.d9f59","name":"Touch Sensor","width":2,"height":2,"order":8,"category":"Touch Sensor","file":"touch-screen-icon-600x600.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":570,"y":240,"wires":[[]]},{"id":"7480fc75.dfb4d4","type":"ui_media","z":"dc93584e.c0a168","group":"f8f67e74.d9f59","name":"Press and Hold","width":2,"height":2,"order":13,"category":"Press and Hold","file":"670083-200.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":610,"y":360,"wires":[[]]},{"id":"c10ca102.3d4f6","type":"ui_media","z":"dc93584e.c0a168","group":"275d4b74.ad8384","name":"PiMenu","width":2,"height":2,"order":8,"category":"PiMenu","file":"raspberry-pi-icon-png-0.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":610,"y":420,"wires":[[]]},{"id":"4d8687f0.c77a58","type":"ui_media","z":"dc93584e.c0a168","group":"275d4b74.ad8384","name":"Onboard","width":2,"height":2,"order":3,"category":"Onboard","file":"prod-passageways-onboard-logo20200x200.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":570,"y":600,"wires":[[]]},{"id":"6c8a37c0.942488","type":"debug","z":"bbe62a6d.da86d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":380,"wires":[]},{"id":"2df35a1a.d20206","type":"ui_audio","z":"bbe62a6d.da86d8","name":"","group":"e464d85b.6d05a8","voice":"Google US English","always":"","x":690,"y":120,"wires":[]},{"id":"7ac21077.fbf82","type":"ui_switch","z":"bbe62a6d.da86d8","name":"","label":"Audio","tooltip":"","group":"e464d85b.6d05a8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Welcome to the Sensact Main Menu. On this screen the user can select between a no touch, no vision, no sound, and no mobility system based on the user's current ability. There is also a button for extra settings, which allows for more functionalty and customization.","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":120,"wires":[["2df35a1a.d20206"]]},{"id":"63c0fe6a.7f7e","type":"ui_audio","z":"f840142a.cea9b8","name":"","group":"7d18bc7.734c344","voice":"Google US English","always":"","x":590,"y":180,"wires":[]},{"id":"12955e18.1ce3c2","type":"ui_switch","z":"f840142a.cea9b8","name":"","label":"Audio","tooltip":"","group":"7d18bc7.734c344","order":3,"width":10,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"This is the Intermediate Interface, which can control the gyro mouse, joystick and touch sensors with multiple functionalities like voice control and bluetooth.","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":180,"wires":[["63c0fe6a.7f7e"]]},{"id":"6472242a.eb07cc","type":"ui_switch","z":"f840142a.cea9b8","name":"","label":"Audio","tooltip":"","group":"7d18bc7.734c344","order":4,"width":10,"height":2,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"The Advanced Interface is for the control of complex devices like the arduino and the raspberry pi which have more complex functionalities","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":220,"wires":[["5141104f.fb612"]]},{"id":"5141104f.fb612","type":"ui_audio","z":"f840142a.cea9b8","name":"","group":"7d18bc7.734c344","voice":"Google US English","always":"","x":590,"y":220,"wires":[]},{"id":"ac059b32.c16618","type":"ui_switch","z":"dc93584e.c0a168","name":"","label":"Audio","tooltip":"","group":"1e832d2a.3f9103","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"This is the advanced configurations for more complex functionalities and devices. The Pimenu is accesible along with more functions on the joystick and touch sensor than in previous configurations.","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":260,"y":63,"wires":[["5e191f47.5dbc4"]]},{"id":"5e191f47.5dbc4","type":"ui_audio","z":"dc93584e.c0a168","name":"","group":"1e832d2a.3f9103","voice":"Google US English","always":"","x":550,"y":63,"wires":[]},{"id":"a10d9aa6.81c1f8","type":"ui_switch","z":"ab7075d2.016478","name":"","label":"Audio","tooltip":"","group":"6e48ba66.fc7fb4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"There are options to chose from devices like the 1 button mouse or the call bell to call for assistance. The TV controller is also accessible through this interface along with turning the lightswitch off and on. There is also a communication device, a computer, and a music player.","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":316,"y":101,"wires":[["9c3854c6.bd24a8"]]},{"id":"9c3854c6.bd24a8","type":"ui_audio","z":"ab7075d2.016478","name":"","group":"6e48ba66.fc7fb4","voice":"Google US English","always":"","x":606,"y":101,"wires":[]},{"id":"bdae46e.d28e7b8","type":"ui_switch","z":"130d7f3f.544931","name":"","label":"Audio","tooltip":"","group":"1d47737b.db53dd","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Thank you for using SensAct. Click return to the first menu or to exit the app. Have a great day!","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":100,"wires":[["66e3ebe2.9b3d84"]]},{"id":"66e3ebe2.9b3d84","type":"ui_audio","z":"130d7f3f.544931","name":"","group":"1d47737b.db53dd","voice":"Google US English","always":"","x":570,"y":100,"wires":[]},{"id":"c4522c3.ebf26d","type":"ui_button","z":"50adca07.ea56c4","name":"","group":"44cec678.0b0a48","order":4,"width":12,"height":2,"passthru":false,"label":"Joystick","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":140,"wires":[["d5680f7f.c87e","11f4ef92.a1682","bb62765e.5addd8"]]},{"id":"d5680f7f.c87e","type":"ui_text","z":"50adca07.ea56c4","group":"44cec678.0b0a48","order":1,"width":12,"height":1,"name":"","label":"Instructions","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":140,"wires":[]},{"id":"11f4ef92.a1682","type":"debug","z":"50adca07.ea56c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":240,"wires":[]},{"id":"2dc6ebd3.870bf4","type":"ui_button","z":"50adca07.ea56c4","name":"","group":"44cec678.0b0a48","order":2,"width":12,"height":2,"passthru":false,"label":"Touch Sensor","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":260,"wires":[["d5680f7f.c87e","11f4ef92.a1682","a9606b6d.d442f8"]]},{"id":"7a02548c.e69b5c","type":"ui_button","z":"50adca07.ea56c4","name":"","group":"44cec678.0b0a48","order":3,"width":12,"height":2,"passthru":false,"label":"Press-And-Hold","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":380,"wires":[["d5680f7f.c87e","11f4ef92.a1682","614eaee7.38274"]]},{"id":"d802511f.b5892","type":"ui_button","z":"50adca07.ea56c4","name":"","group":"f00ac104.96b6b","order":2,"width":12,"height":2,"passthru":false,"label":"Gyro-Mouse","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hello","payloadType":"str","topic":"","x":230,"y":520,"wires":[["ad42273a.1d6288","30f4fae8.f69136","4adff9e8.be8cf8"]]},{"id":"e9a53c97.612b2","type":"ui_button","z":"50adca07.ea56c4","name":"","group":"f00ac104.96b6b","order":4,"width":12,"height":2,"passthru":false,"label":"Bluetooth","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":600,"wires":[["ad42273a.1d6288","30f4fae8.f69136","427587af.3ca028"]]},{"id":"ad42273a.1d6288","type":"ui_text","z":"50adca07.ea56c4","group":"f00ac104.96b6b","order":1,"width":12,"height":1,"name":"","label":"Instructions","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":500,"wires":[]},{"id":"30f4fae8.f69136","type":"debug","z":"50adca07.ea56c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":600,"wires":[]},{"id":"a4bcc343.3ed35","type":"ui_button","z":"50adca07.ea56c4","name":"","group":"f00ac104.96b6b","order":3,"width":12,"height":2,"passthru":false,"label":"Voice Control","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":480,"wires":[["ad42273a.1d6288","30f4fae8.f69136","df95be2f.96a99"]]},{"id":"bb62765e.5addd8","type":"ui_media","z":"50adca07.ea56c4","group":"5d06485b.f497b8","name":"Joystick","width":2,"height":2,"order":13,"category":"Joystick","file":"img_476653.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":490,"y":100,"wires":[[]]},{"id":"a9606b6d.d442f8","type":"ui_media","z":"50adca07.ea56c4","group":"5d06485b.f497b8","name":"Touch Sensor","width":2,"height":2,"order":3,"category":"Touch Sensor","file":"touch-screen-icon-600x600.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":530,"y":300,"wires":[[]]},{"id":"614eaee7.38274","type":"ui_media","z":"50adca07.ea56c4","group":"5d06485b.f497b8","name":"Press and Hold","width":2,"height":2,"order":8,"category":"Press and Hold","file":"670083-200.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":550,"y":380,"wires":[[]]},{"id":"df95be2f.96a99","type":"ui_media","z":"50adca07.ea56c4","group":"c3b13c2e.1c0de","name":"Voice Control","width":2,"height":2,"order":8,"category":"Voice Control","file":"166762-200.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":540,"y":460,"wires":[[]]},{"id":"4adff9e8.be8cf8","type":"ui_media","z":"50adca07.ea56c4","group":"c3b13c2e.1c0de","name":"Gyro-Mouse","width":2,"height":2,"order":3,"category":"Gyro-Mouse","file":"61Or71hQzQL.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":540,"y":560,"wires":[[]]},{"id":"427587af.3ca028","type":"ui_media","z":"50adca07.ea56c4","group":"c3b13c2e.1c0de","name":"Bluetooth","width":2,"height":2,"order":13,"category":"Bluetooth","file":"150154-200.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":510,"y":660,"wires":[[]]},{"id":"5bef76a7.2e29c8","type":"ui_audio","z":"50adca07.ea56c4","name":"","group":"8f283000.37d97","voice":"Google US English","always":"","x":440,"y":40,"wires":[]},{"id":"c9bbe1a0.787d","type":"ui_switch","z":"50adca07.ea56c4","name":"","label":"Audio","tooltip":"","group":"8f283000.37d97","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"The user can access the joystick and the touch sensor for press and hold, and voice control. The intermediate interface also includes bluetooth functions.","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":40,"wires":[["5bef76a7.2e29c8"]]},{"id":"3539f54f.a51caa","type":"ui_ui_control","z":"f840142a.cea9b8","name":"","events":"all","x":550,"y":460,"wires":[[]]},{"id":"34e6cb91.945b94","type":"ui_ui_control","z":"bbe62a6d.da86d8","name":"","events":"all","x":560,"y":300,"wires":[[]]},{"id":"122a202.fa15ce","type":"ui_button","z":"f840142a.cea9b8","name":"","group":"eb8f083a.f69508","order":6,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Patient System","payloadType":"str","topic":"","x":240,"y":520,"wires":[["3539f54f.a51caa"]]},{"id":"43a546ed.7ec5e8","type":"ui_ui_control","z":"130d7f3f.544931","name":"","events":"all","x":610,"y":260,"wires":[[]]},{"id":"e46eeb4d.edeef8","type":"ui_button","z":"ab7075d2.016478","name":"","group":"6e48ba66.fc7fb4","order":2,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Patient System","payloadType":"str","topic":"","x":300,"y":540,"wires":[["254a2705.de68c8"]]},{"id":"254a2705.de68c8","type":"ui_ui_control","z":"ab7075d2.016478","name":"","events":"all","x":620,"y":520,"wires":[[]]},{"id":"67b42b4d.b95b04","type":"ui_button","z":"50adca07.ea56c4","name":"","group":"8f283000.37d97","order":2,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Settings","payloadType":"str","topic":"","x":200,"y":700,"wires":[["c9653d17.6cbb3"]]},{"id":"c9653d17.6cbb3","type":"ui_ui_control","z":"50adca07.ea56c4","name":"","events":"all","x":430,"y":740,"wires":[[]]},{"id":"3184f13f.79db7e","type":"ui_ui_control","z":"dc93584e.c0a168","name":"","events":"all","x":590,"y":680,"wires":[[]]},{"id":"66c69b3c.e79034","type":"ui_button","z":"dc93584e.c0a168","name":"","group":"1e832d2a.3f9103","order":3,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Settings","payloadType":"str","topic":"","x":320,"y":680,"wires":[["3184f13f.79db7e"]]},{"id":"dca2e717.e4aa68","type":"ui_button","z":"bbe62a6d.da86d8","name":"","group":"d52108de.e70668","order":6,"width":10,"height":2,"passthru":false,"label":"Extra Settings","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Settings","payloadType":"str","topic":"","x":310,"y":540,"wires":[["34e6cb91.945b94"]]},{"id":"68cabba5.f46a54","type":"ui_button","z":"9c7f30a8.2661","name":"","group":"6360b393.34ed6c","order":1,"width":10,"height":2,"passthru":false,"label":"eye tracker","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":300,"y":180,"wires":[["8a2dc41d.d520b8"]]},{"id":"c6f78ae5.782168","type":"ui_button","z":"9c7f30a8.2661","name":"","group":"6360b393.34ed6c","order":2,"width":10,"height":2,"passthru":false,"label":"Voice Control","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":300,"y":280,"wires":[["8a2dc41d.d520b8"]]},{"id":"a37b9a1a.ea7d48","type":"ui_button","z":"d0b434bf.bbc538","name":"","group":"3bae645a.61cb3c","order":1,"width":10,"height":2,"passthru":false,"label":"Voice Control","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":320,"y":160,"wires":[["d57330b1.3c015"]]},{"id":"e5026501.378bb8","type":"ui_button","z":"d0b434bf.bbc538","name":"","group":"3bae645a.61cb3c","order":2,"width":10,"height":2,"passthru":false,"label":"One Touch Sensor","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":340,"y":260,"wires":[["d57330b1.3c015"]]},{"id":"6c4bac54.f894e4","type":"ui_button","z":"d0b434bf.bbc538","name":"","group":"3bae645a.61cb3c","order":3,"width":10,"height":2,"passthru":false,"label":"Two Touch Sensor","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":340,"y":360,"wires":[["d57330b1.3c015"]]},{"id":"41cab591.c4a63c","type":"ui_button","z":"d0b434bf.bbc538","name":"","group":"3bae645a.61cb3c","order":4,"width":10,"height":2,"passthru":false,"label":"Press and Hold","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":320,"y":440,"wires":[["d57330b1.3c015"]]},{"id":"5454d4f4.5762ec","type":"ui_button","z":"4fe87a06.f6c814","name":"","group":"b9a7e0c3.cedfb","order":1,"width":10,"height":2,"passthru":false,"label":"Gyro Mouse","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":320,"y":180,"wires":[["67e71a81.861904"]]},{"id":"598cbc98.cc2184","type":"ui_button","z":"4fe87a06.f6c814","name":"","group":"b9a7e0c3.cedfb","order":2,"width":10,"height":2,"passthru":false,"label":"Joystick","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":300,"y":260,"wires":[["67e71a81.861904"]]},{"id":"d4b291b3.014bb","type":"ui_button","z":"4fe87a06.f6c814","name":"","group":"b9a7e0c3.cedfb","order":4,"width":10,"height":2,"passthru":false,"label":"Two Touch Sensor","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":370,"y":420,"wires":[["67e71a81.861904"]]},{"id":"4a92b190.0f216","type":"ui_button","z":"4fe87a06.f6c814","name":"","group":"b9a7e0c3.cedfb","order":3,"width":10,"height":2,"passthru":false,"label":"One Touch Sensor","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":350,"y":340,"wires":[["67e71a81.861904"]]},{"id":"6cead3e6.288edc","type":"ui_button","z":"40e9ebc0.2aeb84","name":"","group":"26726ab8.7b98e6","order":2,"width":10,"height":2,"passthru":false,"label":"Joystick","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":320,"y":160,"wires":[["c712f2eb.45f02"]]},{"id":"6d80de98.83ded","type":"ui_button","z":"40e9ebc0.2aeb84","name":"","group":"26726ab8.7b98e6","order":4,"width":10,"height":2,"passthru":false,"label":"Two Touch Sensor","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":440,"y":300,"wires":[["c712f2eb.45f02"]]},{"id":"611720f.f0ee2e","type":"ui_button","z":"40e9ebc0.2aeb84","name":"","group":"26726ab8.7b98e6","order":6,"width":10,"height":2,"passthru":false,"label":"Voice Control","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":440,"y":440,"wires":[["c712f2eb.45f02"]]},{"id":"eed6330a.a07e8","type":"ui_button","z":"40e9ebc0.2aeb84","name":"","group":"26726ab8.7b98e6","order":5,"width":10,"height":2,"passthru":false,"label":"Press and Hold","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":430,"y":380,"wires":[["c712f2eb.45f02"]]},{"id":"388fb1a1.587a3e","type":"ui_button","z":"40e9ebc0.2aeb84","name":"","group":"26726ab8.7b98e6","order":1,"width":10,"height":2,"passthru":false,"label":"Gyro Mouse","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":340,"y":100,"wires":[["c712f2eb.45f02"]]},{"id":"42191329.3fdc2c","type":"ui_button","z":"40e9ebc0.2aeb84","name":"","group":"26726ab8.7b98e6","order":3,"width":10,"height":2,"passthru":false,"label":"One Touch Sensor","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":400,"y":240,"wires":[["c712f2eb.45f02"]]},{"id":"f49fb71c.1db1d8","type":"ui_button","z":"40e9ebc0.2aeb84","name":"","group":"26726ab8.7b98e6","order":7,"width":10,"height":2,"passthru":false,"label":"Eye Tracker","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Basic","payloadType":"str","topic":"","x":440,"y":520,"wires":[["c712f2eb.45f02"]]},{"id":"c9e4975.24ce268","type":"ui_button","z":"9c7f30a8.2661","name":"","group":"6360b393.34ed6c","order":4,"width":10,"height":2,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Patient System","payloadType":"str","topic":"","x":310,"y":400,"wires":[["8a2dc41d.d520b8"]]},{"id":"5a8bcf45.ba0e8","type":"ui_button","z":"d0b434bf.bbc538","name":"","group":"3bae645a.61cb3c","order":6,"width":10,"height":2,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Patient System","payloadType":"str","topic":"","x":750,"y":240,"wires":[["3151f653.3a25ca"]]},{"id":"16cba482.a547ab","type":"ui_button","z":"4fe87a06.f6c814","name":"","group":"b9a7e0c3.cedfb","order":6,"width":10,"height":2,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Patient System","payloadType":"str","topic":"","x":640,"y":320,"wires":[["d96af2c4.53cf8"]]},{"id":"924985bc.814728","type":"ui_button","z":"40e9ebc0.2aeb84","name":"","group":"26726ab8.7b98e6","order":9,"width":10,"height":2,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Patient System","payloadType":"str","topic":"","x":740,"y":240,"wires":[["43466757.b6e968"]]},{"id":"8a2dc41d.d520b8","type":"ui_ui_control","z":"9c7f30a8.2661","name":"","events":"all","x":590,"y":420,"wires":[[]]},{"id":"3151f653.3a25ca","type":"ui_ui_control","z":"d0b434bf.bbc538","name":"","events":"all","x":933,"y":258,"wires":[[]]},{"id":"d96af2c4.53cf8","type":"ui_ui_control","z":"4fe87a06.f6c814","name":"","events":"all","x":850,"y":320,"wires":[[]]},{"id":"43466757.b6e968","type":"ui_ui_control","z":"40e9ebc0.2aeb84","name":"","events":"all","x":890,"y":240,"wires":[[]]},{"id":"413cfbb6.df0944","type":"ui_button","z":"d0b434bf.bbc538","name":"","group":"3bae645a.61cb3c","order":7,"width":10,"height":2,"passthru":false,"label":"Exit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Options","payloadType":"str","topic":"","x":750,"y":360,"wires":[["3151f653.3a25ca"]]},{"id":"80094505.67a848","type":"ui_button","z":"4fe87a06.f6c814","name":"","group":"b9a7e0c3.cedfb","order":7,"width":10,"height":2,"passthru":false,"label":"Exit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Options","payloadType":"str","topic":"","x":650,"y":420,"wires":[["d96af2c4.53cf8"]]},{"id":"6581cf4a.02a0b","type":"ui_button","z":"9c7f30a8.2661","name":"","group":"6360b393.34ed6c","order":5,"width":10,"height":2,"passthru":false,"label":"Exit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Options","payloadType":"str","topic":"","x":300,"y":500,"wires":[["8a2dc41d.d520b8"]]},{"id":"8f1decd5.9b0a9","type":"ui_button","z":"40e9ebc0.2aeb84","name":"","group":"26726ab8.7b98e6","order":10,"width":10,"height":2,"passthru":false,"label":"Exit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Options","payloadType":"str","topic":"","x":740,"y":320,"wires":[["43466757.b6e968"]]},{"id":"e8a55204.89649","type":"ui_button","z":"ab7075d2.016478","name":"","group":"6e48ba66.fc7fb4","order":3,"width":0,"height":0,"passthru":false,"label":"Exit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Options","payloadType":"str","topic":"","x":380,"y":600,"wires":[["254a2705.de68c8"]]},{"id":"62ab7a0a.c542f4","type":"ui_button","z":"50adca07.ea56c4","name":"","group":"8f283000.37d97","order":3,"width":0,"height":0,"passthru":false,"label":"Exit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Options","payloadType":"str","topic":"","x":200,"y":780,"wires":[["c9653d17.6cbb3"]]},{"id":"7f18f5ea.ae18fc","type":"ui_button","z":"dc93584e.c0a168","name":"","group":"1e832d2a.3f9103","order":3,"width":0,"height":0,"passthru":false,"label":"Exit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Options","payloadType":"str","topic":"","x":340,"y":760,"wires":[["3184f13f.79db7e"]]},{"id":"f2e339de.ae8eb8","type":"ui_button","z":"f840142a.cea9b8","name":"","group":"eb8f083a.f69508","order":7,"width":0,"height":0,"passthru":false,"label":"Exit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Options","payloadType":"str","topic":"","x":420,"y":540,"wires":[["3539f54f.a51caa"]]},{"id":"d57330b1.3c015","type":"ui_ui_control","z":"d0b434bf.bbc538","name":"","events":"all","x":600,"y":300,"wires":[[]]},{"id":"67e71a81.861904","type":"ui_ui_control","z":"4fe87a06.f6c814","name":"","events":"all","x":610,"y":220,"wires":[[]]},{"id":"c712f2eb.45f02","type":"ui_ui_control","z":"40e9ebc0.2aeb84","name":"","events":"all","x":680,"y":160,"wires":[[]]},{"id":"4cd3afd8.ff5c4","type":"ui_button","z":"ab7075d2.016478","name":"","group":"846e845f.451678","order":6,"width":6,"height":2,"passthru":false,"label":"Communcation Device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":280,"wires":[["9d680efe.7571e","e7ab8ec9.99393","d258b0ea.99ccd","b4d6748.5021688"]]},{"id":"31cf0b74.ea5854","type":"ui_button","z":"ab7075d2.016478","name":"","group":"846e845f.451678","order":7,"width":6,"height":2,"passthru":false,"label":"Computer","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":100,"wires":[["47de0681.cb9778","b4d6748.5021688"]]},{"id":"3698b497.d1c4bc","type":"ui_button","z":"ab7075d2.016478","name":"","group":"846e845f.451678","order":8,"width":6,"height":2,"passthru":false,"label":"Music Player","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":70,"y":420,"wires":[["e0b0f724.0c4a08","b4d6748.5021688"]]},{"id":"47de0681.cb9778","type":"ui_media","z":"ab7075d2.016478","group":"8858c15f.65153","name":"Computer","width":"2","height":"2","order":7,"category":"Computer","file":"comp.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":160,"y":180,"wires":[[]]},{"id":"e0b0f724.0c4a08","type":"ui_media","z":"ab7075d2.016478","group":"8858c15f.65153","name":"Music","width":"2","height":"2","order":8,"category":"Music","file":"free-music-icon-png-vector-pixsector-music-icon-png-560_560.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":140,"y":500,"wires":[[]]},{"id":"d258b0ea.99ccd","type":"ui_media","z":"ab7075d2.016478","group":"8858c15f.65153","name":"Comms","width":"2","height":"2","order":6,"category":"Comms device","file":"743221-200.png","layout":"expand","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":400,"y":300,"wires":[[]]},{"id":"b4d6748.5021688","type":"serial out","z":"ab7075d2.016478","name":"Sensact","serial":"760f4dc0.2491c4","x":970,"y":320,"wires":[]}]